{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Utility</a>
    <a href="#" class="active">Log Report</a>
</div>
<hr>
<div class="row" style="border-bottom: thin solid; padding: 15px;">
  <div class="col-md-2">
    <label>Select User</label>
  </div>
  <div class="col-md-3">
    <div class="input-group">
        <input type="text" name="name" id="name" value="{{edit.name}}" class="form-control" placeholder="Name" readonly="true">
        <span class="input-group-btn">
            <button class="btn grey-mint btn-sm" type="button"  onclick="getuserid('usr_id')"><i class="fa fa-book"></i></button>
        </span>
    </div>
  </div>
</div>
<table class="table table-striped table-bordered table-hover" id="logreport">
    <thead>
      <tr>
       <th>No</th>
       <th>User Type</th>
       <th>Name</th>
       <th>Action</th>
       <th>Date</th>
       <th>Table</th>
       <th>Record</th>
      </tr>
    </thead> 
</table>


<script type="text/javascript">
$(document).ready(function() {
  var table = $('#logreport').dataTable({
      // ajax: "{{ base_url }}utility/Secorg/getAjaxData/{{ust_id}}.html",  
      "ajax": {
          "url": "{{ base_url }}utility/logreport/getAjaxData.html",   
            "dataSrc": function ( json ) {

              console.log(json);
            
            if(json.data != 'error')
            {
              return json.data;
            }
            else
            {
              toastr['error']('No Data Available in Table', "Notification");

              $('#logreport').DataTable({

                destroy:true,
                language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

                buttons: [
                    { extend: 'print', className: 'btn grey' },
                    { extend: 'pdf', className: 'btn grey' },
                    { extend: 'csv', className: 'btn grey' }
                ],
                responsive: false,
                colReorder: {
                    reorderCallback: function () {
                        console.log( 'callback' );
                    }
                },
                "lengthMenu": [
                    [10, 50, 100, 250, -1],
                    [10, 50, 100, 250, "All"]
                ],

                dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                "pageLength": 10,
              });
              
            }

          }
        },


      // columnDefs: [ {
      //     "targets": -1,
      //     "data": null,
      //     "defaultContent": "<addrole class='fa fa-book'></addrole>",
      //     "width": "120px",
      // }],

      buttons: [
          { extend: 'print', className: 'btn grey' },
          { extend: 'pdf', className: 'btn grey' },
          { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [10, 50, 100, 250, -1],
          [10, 50, 100, 250, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick */
  $('#userType tbody').on('click', 'addrole', function () {
      var data = table.api().row($(this).parents('tr')).data();
      window.location="{{base_url}}utility/Secorg/addsecorg/"+data[3]+".html";
  });

});

function getuserid(type) {
   $.fancybox.open({
        href : "{{base_url}}masterdata/Showuser/index/"+type,
        type : 'iframe',
        helpers : {
            media: true 
        },
        width: "80%",
        height: 800,
        autoSize: false,
        scrolling: false
   });                
}
</script>


{% endblock %}