{% extends "header.html" %}
{% block content %}
<style type="text/css">
  .menuLevel2{
    color: red;
    margin-left: left;
    padding-left: left;


  }
  .checkRole{
    width: 15px;
  }

  .menuLevel3{
    color: green;
  }
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Pengaturan</a>
    <a href="#">User Admin</a>
    <a href="#" class="active">Hak Akses User</a>
</div>
<hr>
<form action="{{base_url}}utility/Roleaccess/inputAccessMenu" method="post">
  <input type="hidden" name="usr_id" id="usr_id" value="{{usr_id}}">
<div class="row" style="margin-bottom: 40px;">
  <div class="col-sm-6"><h3>Nama: {{user_type_name}}</h3></div>
</div>
<div class="col-sm-12">
  <div class="col-lg-6">
      <div class="col-lg-4" style="padding-left:0px !important; font-weight: bold">Menu</div>
      <div class="col-lg-1" style="font-weight: bold">Akses</div> 
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-1">&nbsp;</div>    
      <div class="col-lg-12" style="height: 5px !important; border-top: solid 1px #ccc;"></div>
      {% set x = 0 %}
      {% for mn in data_menu %}
          {% set x = x + 1 %}
          {% set padding = mn.level_menu * 20 %}
          <input type="hidden" name="id_menu{{x}}" id="id_menu{{x}}" value="{{ mn.id_menu }}">
          <div class="col-lg-4" style="padding-left:{{padding}}px;">{{ mn.nama_menu|raw }}</div>
          <div class="col-lg-1"><input onclick="checkParent(this); childSelected(this, '{{x}}');"  type="checkbox" id="mrl_access{{x}}" name="mrl_access{{x}}" value="Y" {% if mn.usr_id != 0 %} checked {% endif %} {% if mn.is_link == 0 %} class="header_menu" {% endif %}></div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-12" style="height: 5px !important; border-top: solid 1px #ccc;"></div>
      {% endfor %}
      <input type="hidden" name="jumlah" id="jumlah" value="{{x}}">
  </div>
  <div class="col-lg-6">
      <div class="col-lg-4" style="padding-left:0px !important; font-weight: bold">Produk</div>
      <div class="col-lg-1" style="font-weight: bold">Akses</div> 
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-1">&nbsp;</div>    
      <div class="col-lg-12" style="height: 5px !important; border-top: solid 1px #ccc;"></div>
      {% set y = 0 %}
      {% for row in data_produk %}
          {% set y = y + 1 %}
          <input type="hidden" name="kat_id{{y}}" id="kat_id{{y}}" value="{{ row.kat_id }}">
          <div class="col-lg-4" style="padding-left:{{padding}}px;">{{ row.kat_kode|raw }}</div>
          <div class="col-lg-1"><input onclick="checkParent(this); childSelected(this, '{{y}}');"  type="checkbox" id="prod_access{{y}}" name="prod_access{{y}}" value="Y" {% if row.usr_id != 0 %} checked {% endif %} {% if mn.is_link == 0 %} class="header_menu" {% endif %}></div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-12" style="height: 5px !important; border-top: solid 1px #ccc;"></div>
      {% endfor %}
      <input type="hidden" name="jumlahProduk" id="jumlahProduk" value="{{y}}">
  </div>
</div>
<div class="form-group" style="margin-top:20px;">
    <div class="col-md-7">
        <button type="submit" class="btn btn-sm red-mint"><i class="fa fa-save"></i> Save</button>
        <a href="javascript:history.back()" class="btn btn-sm grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
    </div>
</div>
</form>

<style type="text/css">

  #tree{
  margin:0;
  padding:0;
  }
  #tree li{
    margin: 5px;
    border-top: solid 1px #ccc;
    padding-top: 5px;
    list-style-type: none;
  }

  #tree select{
    margin-left: 5px;
  }

</style>

<script type="text/javascript">
function checkParent(elm){
    if (elm.checked) {
        $("input .header_menu").prev().prop("checked", true);
    }    
}

function childSelected(elm, num) {
    
    var mrlCreate = "mrl_create"+num;
    var mrlRead = "mrl_read"+num;
    var mrlUpdate = "mrl_update"+num;
    var mrlDelete = "mrl_delete"+num;

    if(elm.checked) {
        $("#"+mrlCreate).prop("checked", true);
        $("#"+mrlRead).prop("checked", true);
        $("#"+mrlUpdate).prop("checked", true);
        $("#"+mrlDelete).prop("checked", true);
    }
    else {
        $("#"+mrlCreate).prop("checked", false);
        $("#"+mrlRead).prop("checked", false);
        $("#"+mrlUpdate).prop("checked", false);
        $("#"+mrlDelete).prop("checked", false);
    }
}

  $( document ).ready(function() {
    $(".checkRole").change(function(){
      var elId = $(this).val();
      var mrlCreate = "mrl_create"+elId;
      var mrlRead = "mrl_read"+elId;
      var mrlUpdate = "mrl_update"+elId;
      var mrlDelete = "mrl_delete"+elId;

      if($(this).is(':checked') == true){
        $("#"+mrlCreate).prop('disabled', false);
        $("#"+mrlRead).prop('disabled', false);
        $("#"+mrlUpdate).prop('disabled', false);
        $("#"+mrlDelete).prop('disabled', false);

      }
      else{
        //alert($("#"+mrlCreate).text);
        $("#"+mrlCreate).prop('disabled', 'disabled');
        $("#"+mrlRead).prop('disabled', 'disabled');
        $("#"+mrlUpdate).prop('disabled', 'disabled');
        $("#"+mrlDelete).prop('disabled', 'disabled');
      }

    });

    checkEnable();
  });

  function checkEnable(){



    $("input.checkRole").each(function(index, element){
      var elId = $(this).val();
      var mrlCreate = "mrl_create"+elId;
      var mrlRead = "mrl_read"+elId;
      var mrlUpdate = "mrl_update"+elId;
      var mrlDelete = "mrl_delete"+elId;

      if($(this).is(':checked') == true){
        $("#"+mrlCreate).prop('disabled', false);
        $("#"+mrlRead).prop('disabled', false);
        $("#"+mrlUpdate).prop('disabled', false);
        $("#"+mrlDelete).prop('disabled', false);

      }
      else{
        $("#"+mrlCreate).prop('disabled', 'disabled');
        $("#"+mrlRead).prop('disabled', 'disabled');
        $("#"+mrlUpdate).prop('disabled', 'disabled');
        $("#"+mrlDelete).prop('disabled', 'disabled');
      }
    });



  }


</script>
{% endblock %}
