{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Utility</a>
    <a href="#" class="active">List User</a>
</div>
<hr>

<a type="button" class="btn red-mint" id="add" href="{{base_url}}utility/Setuser/addUser.html"><i class="fa fa-plus"></i> Add New</a>

<table class="table table-striped table-bordered table-hover" id="listUser">
    <thead>
      <tr>
       <th>No</th>
       <th>User Type</th>
       <th>Name</th>
       <th>Status</th>
       <th>As HCD</th>
       <th>Action</th>
      </tr>
    </thead> 
</table>

<script type="text/javascript">
$(document).ready(function() {
  var table = $('#listUser').dataTable({
      // ajax: "{{ base_url }}utility/Setuser/getAjaxData.html",  
      "ajax": {
        "url": "{{ base_url }}utility/Setuser/getAjaxData.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },

      columnDefs: [ {
          "targets": -1,
          "data": null,
          "defaultContent": "<edit class='fa fa-pencil'></edit> <delete class='fa fa-trash'></delete> <view class='fa fa-search'></view>",
          "width": "120px",
      }],

      buttons: [
          { extend: 'print', className: 'btn grey' },
          { extend: 'pdf', className: 'btn grey' },
          { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [10, 50, 100, 250, -1],
          [10, 50, 100, 250, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick */
  $('#listUser tbody').on('click', 'edit', function () {
      var data = table.api().row($(this).parents('tr')).data();
      window.location="{{base_url}}utility/Setuser/addUser/"+data[5]+".html";
  });
  
  /* berikut handle delete data data onclick */
  $('#listUser tbody').on('click', 'delete', function () {
      var data = table.api().row($(this).parents('tr')).data();
      confirmThis("{{base_url}}utility/Setuser/deleteUser/"+data[5]+".html");
  });

});
</script>


{% endblock %}