{% extends "headerblank.html" %}
{% block content %}
<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>Module Name</th>
       <th>Action</th>
      </tr>
    </thead>
</table>


<script type="text/javascript">
$(document).ready(function() {
  var table = $('#dataList').dataTable({
      ajax: "{{ base_url }}utility/ShowMenu/getAjaxData.html",  

	  "bLengthChange" : false,
      columnDefs: [ {
          "targets": -1,
          "data": null,
          "defaultContent": "<fuck class='fa fa-plus'>Select</fuck>",
          "width": "120px",
      }],

      buttons: [
          /*{ extend: 'print', className: 'btn grey' },
          { extend: 'pdf', className: 'btn grey' },
          { extend: 'csv', className: 'btn grey' }*/
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [10, 50, 100, 250, -1],
          [10, 50, 100, 250, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  $('#dataList tbody').on('click', 'fuck', function () {
    //alert("ss");
      var data = table.api().row($(this).parents('tr')).data();
      window.parent.$("#id_menu").val(data[3]);
      window.parent.$("#nama_menu").val(data[1]);
      window.parent.$.fancybox.close();
  });

});
</script>


{% endblock %}