{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Pengaturan</a>
    <a href="#">User Admin</a>
    <a href="#" class="active">Hak Akses</a>
</div>
<hr>
<!--
<a type="button" class="btn red-mint" id="add" href="{{base_url}}utility/Roleaccess/addRoleAccess.html"><i class="fa fa-plus"></i> Add New</a>
-->

<table class="table table-striped table-bordered table-hover" id="userType">
    <thead>
      <tr>
       <th>No</th>
       <th>Nama</th>
       <th>Email</th>
       <th>No. Hp</th>
       <th>Status</th>
       <th>Action</th>
      </tr>
    </thead> 
</table>


<script type="text/javascript">
$(document).ready(function() {
  var table = $('#userType').dataTable({
      // ajax: "{{ base_url }}utility/Roleaccess/getAjaxData.html",  

      "ajax": {
        "url": "{{ base_url }}utility/Roleaccess/getAjaxData.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },
      columnDefs: [ {
          "targets": -1,
          "data": null,
          "defaultContent": "<view class='fa fa-book'></view>",
          "width": "120px",
      }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' },
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [10, 50, 100, 250, -1],
          [10, 50, 100, 250, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });


  /* berikut handle edit data data onclick */
  /*
  $('#userType tbody').on('click', 'addrole', function () {
      var data = table.api().row($(this).parents('tr')).data();
      // alert(data[3]);
      window.location="{{base_url}}utility/Roleaccess/addCrud/"+data[3]+".html";
  });
  */

  /* berikut handle edit data data onclick */
  $('#userType tbody').on('click', 'view', function () {
      var data = table.api().row($(this).parents('tr')).data();
      // alert(data[3]);
      window.location="{{base_url}}utility/Roleaccess/addRoleAccess/"+data[5]+".html";
  });
  
  

});
</script>


{% endblock %}