<!-- BEGIN CORE PLUGINS -->
<script src="{{base_url}}assets//global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets//global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets//global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="{{base_url}}assets//global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->



<!-- TOASTR -->
<script src="{{base_url}}assets/global/plugins/bootstrap-toastr/toastr.js" type="text/javascript"></script>
<!-- END PTOASTR -->

<!-- Bootbox -->
<script src="{{base_url}}assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/pages/scripts/ui-bootbox.min.js" type="text/javascript"></script>
<!-- End Bootbox -->

<!-- Block UI -->
<script src="{{base_url}}assets/pages/scripts/ui-blockui.min.js" type="text/javascript"></script>
<!-- END Block -->

<script src="{{base_url}}assets/pages/scripts/table-datatables-editable.min.js" type="text/javascript"></script>

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{{base_url}}assets//layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets//layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets//layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets//layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->



<!-- JS yang Digunakan -->
<script src="{{base_url}}assets/js/hcms.js" type="text/javascript"></script>
<!-- END JS yang digunakan -->


<script type="text/javascript">

function confirmThis(url){
	bootbox.confirm("Anda yakin?", function(result) {
		if(result){
			blockPage();
			window.location=url;
		}
    }); 
}

$(document ).ready(function() {
	ublockPage();

	{% if session.flashdata.msg !='' %}
	toastr["{{session.flashdata.type}}"]("{{session.flashdata.msg}}", "Notification");
	{% endif %}

});   
</script>
