<!-- BEGIN GLOBAL MANDATORY STYLES
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
--> 
<link href="{{base_url}}assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->



<!-- TOASTR -->
<link href="{{base_url}}assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<!-- ENTOASTR -->

<script type="text/javascript">
var base_url = "{{base_url}}";
</script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="{{base_url}}assets//global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="{{base_url}}assets//global/css/plugins.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="{{base_url}}assets//layouts/layout/css/layout.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}assets//layouts/layout/css/themes/light2.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="{{base_url}}assets//layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}assets//global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="{{base_url}}assets/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />

<script src="{{base_url}}assets//global/plugins/jquery.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT STYLES -->
<script src="{{base_url}}assets//global/plugins/jquery.blockui.min.js" type="text/javascript"></script>

<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{base_url}}assets//global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets//global/scripts/app.js" type="text/javascript"></script>
<script src="{{base_url}}assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{base_url}}assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="https://editor.datatables.net/media/js/dataTables.editor.min.js"></script> -->
<script type="text/javascript" src="{{ base_url }}assets/global/plugins/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="{{ base_url }}assets/global/plugins/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />


<!-- END PAGE LEVEL PLUGINS -->