<!DOCTYPE html>

<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
         <title>KOPERASI TASS INDONESIA NUSANTARA</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />

        {% include 'get_plugin_header.html' %}
        <script>
            {% if session.flashdata.msg !='' %}
                toastr["{{session.flashdata.type}}"]("{{session.flashdata.msg}}", "Notification");
            {% endif %}
        </script>
        <link rel="shortcut icon" href="{{base_url}}assets/global/img/favicon.png" /> </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="{{base_url}}main/index.html">
                            <!-- <img src="{{base_url}}assets/pages/img/login/gsg-logo.png"  alt="logo" class="logo-default" />  -->
                            <img src="{{base_url}}assets/pages/img/login/koperasi_logo.png" alt="logo" class="logo-default" />
                        </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->



                            <li class="dropdown" style="padding-top:11px;">
                                <img src="{{base_url}}assets/pages/img/sifokoperasi.png" alt="" />

                            </li>


                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="javascript:confirmThis('{{base_url}}main/logout.html')" class="dropdown-toggle">
                                    <i class="icon-logout"></i>
                                </a>
                            </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        {% include 'menu_static.html' %}
                        <!-- MENU DISINI BRO -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->

                        <div class="portlet light" id="toolsFullscreen">
                            <div class="portlet-title" id="titleFullscreen">
                                <div class="actions">
                                    <span id="fav_id"></span>
                                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                                </div>
                            </div>

                            <div class="pageContent">
                                {% block content %}{% endblock %}
                                <p>
                                    {% if isIndex =="" %}
                                        <a type="button" class="btn btn-sm red-mint" onclick="javascript:history.back()"><i class="fa fa-step-backward"></i> Back</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>



                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->

            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2019 &copy; copyright Koperasi </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>

        <div class="quick-nav-overlay"></div>
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
        <script src="{{base_url}}assets//global/plugins/respond.min.js"></script>
        <script src="{{base_url}}assets//global/plugins/excanvas.min.js"></script>
        <script src="{{base_url}}assets//global/plugins/ie8.fix.min.js"></script>
        <![endif]-->



        {% include 'get_plugin_footer.html' %}
        <div class="modal fade" id="form_fav">
          <div class="modal-dialog">
            <div class="modal-content" style="margin-top:100px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Url Name: </label>
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" name="fav_url" id="fav_url" class="form-control">
                        <input type="hidden" name="usr_id" id="usr_id" value="{{usr_id}}">
                        <input type="text" name="fav_name" id="fav_name" value="" class="form-control">
                    </div>
                </div>
              </div>

              <div class="modal-footer" style="margin:0px; border-top:0px; text-align:center;">
                <button type="button" class="btn red-mint btn-sm" data-dismiss="modal" onclick="savefav()">Oke</button>
              </div>
            </div>
          </div>
        </div>
<script type="text/javascript">

function blockPage(){
    App.blockUI({
        boxed: true
    });
}

function ublockPage(){
    App.unblockUI();
}

function saveFavorite(){
    var url = window.location.toString();
    // alert(url);
     $("#form_fav").modal('show',{backdrop:'static'});
     $("#fav_url").val(url);

}

function savefav(){
    var fav_url = $("#fav_url").val();
    var usr_id = $("#usr_id").val();
    var fav_name = $("#fav_name").val();

    // alert(ust_id);
        blockPage();
        $.ajax({
            url : "{{base_url}}utility/Favorit/saveByAjax.html",
            type : "POST",
            data : "fav_url="+fav_url+"&&usr_id="+usr_id+"&&fav_name="+fav_name,
            datatype: 'json',

            success:function(data){

                var output = JSON.parse(data);
                console.log(output);

                // var html = "";

                // for(var i=0; i < output.row.length; i++)
                // {
                //     html += "<li class='nav-item'><a href='{{base_url}}"+output.row[i].fav_link+"'><i class='fa fa-star'></i><span class='title'>"+output.row[i].fav_name+"</span></a></li>";
                // }
                html = "<a href='"+fav_url+"' class='nav-link'><i class='fa fa-star'></i><span class='title'>"+fav_name+"</span></a>";
                $("#url_sementara").html(html);
                reloadicon();
                ublockPage();
                toastr[output.type](output.msg, "Notification");

      // window.location="{{base_url}}employee/masteremployee/addemployee/"+output.id_emp+".html";

            }
        });
}

$(document).ready(function() {
  reloadicon();
});

function deleteFavorite(fav_id){
    // alert(fav_id);
    bootbox.confirm("Anda yakin?",function(result){
        if(result){
            $.ajax({
                url : "{{base_url}}utility/Favorit/deleteurlfav.html",
                type : "POST",
                data : "fav_id="+fav_id,
                datatype: 'json',

                success:function(data){
                    console.log(data);
                    var output = JSON.parse(data);
                    toastr[output.type](output.msg, "Notification");
                     // var html = "";

                     //    for(var i=0; i < output.row.length; i++)
                     //    {
                     //        html += "<li class='nav-item'><a href='{{base_url}}"+output.row[i].fav_link+"'><i class='fa fa-star'></i><span class='title'>"+output.row[i].fav_name+"</span></a></li>";
                     //    }
                        // html = "<a href='"+fav_url+"' class='nav-link'><i class='fa fa-star'></i><span class='title'>"+fav_name+"</span></a>";
                        $("#url_sementara").html(html);
                        reloadicon();
                    // html = '<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;"  data-original-title="ss" title="" onclick="saveFavorite()"><i class="icon-star"></i></a>';
                    //     $("#fav_id").html(html);



                    }
            });
        }
    });

}

function reloadicon(){
    var usr_id = {{usr_id}};
    var url_active = window.location.toString();

    $.ajax({
        url : "{{base_url}}utility/Favorit/geturlactive.html",
        type : "POST",
        data : "usr_id="+usr_id+"&&url_active="+url_active,
        datatype: 'json',

        success:function(data){
            console.log(data);
            var output = JSON.parse(data);
            // $('#fav_id').val(output.fav_id);
            if(output.row.active=="1"){

                html = '<a class="btn btn-circle btn-icon-only red-mint" href="javascript:;"  data-original-title="ss" title="" onclick="deleteFavorite('+output.row.fav_id+')"><i class="icon-star"></i></a>';
                $("#fav_id").html(html);
            }else{

                html = '<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;"  data-original-title="ss" title="" onclick="saveFavorite()"><i class="icon-star"></i></a>';
                $("#fav_id").html(html);
            }
            // toastr[output.type](output.msg, "Notification");

  // window.location="{{base_url}}employee/masteremployee/addemployee/"+output.id_emp+".html";

        }
    });
}

function deleteImg(ang_id){
    // alert(ang_id);
    bootbox.confirm("Anda yakin?",function(result){
        if(result){
            $.ajax({
                url : "{{base_url}}anggota/Anggota/deleteImgProfil.html",
                type : "POST",
                data : "ang_id="+ang_id,
                datatype: 'json',

                success:function(data){
                        console.log(data);
                        var output = JSON.parse(data);
                         window.location.reload();
                        toastr[output.type](output.msg, "Notification");
                    }
            });
        }
    });

}
</script>
    </body>

</html>
