<!DOCTYPE html>

<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Gunung Steel Group &#149; HCMS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />
        
        {% include 'get_plugin_header.html' %}
        
        <link rel="shortcut icon" href="{{base_url}}assets/global/img/favicon.png" /> </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
         
            
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            {% block content %}{% endblock %}
     
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
        <script src="{{base_url}}assets//global/plugins/respond.min.js"></script>
        <script src="{{base_url}}assets//global/plugins/excanvas.min.js"></script> 
        <script src="{{base_url}}assets//global/plugins/ie8.fix.min.js"></script> 
        <![endif]-->



        {% include 'get_plugin_footer.html' %}
       
    </body>

</html>