<!DOCTYPE html>

<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>KOPERASI TASS INDONESIA NUSANTARA</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />
        
        {% include 'get_plugin_header.html' %}
        
        <link rel="shortcut icon" href="{{base_url}}assets/global/img/favicon.png" /> </head>
    <!-- END HEAD -->
<style type="text/css">
hr{
    border-top: solid 1px #666 !important;
    margin-top: 11px !important;
}
.report_header{
    margin-bottom: 10px;
}
.judul_report{
    text-align:center; 
    font-weight:700;
    font-size: 14px;    
    margin: -15px;
    padding-top: 10px;
}
.div_control{
    margin: 2px;
    position: absolute;
    right: 13px;
}
thead td {
    white-space: nowrap;
}
.small_italic {
    font-style: italic;
    font-size: 11px;
}
#dataList tbody tr td {
    border-left: solid 1px #666 !important;
    border-bottom: solid 1px #666 !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
#dataList thead tr th {
    border-right: solid 1px #000 !important;
    border-top: solid 1px #000 !important;
}

.table2 > thead > tr > th {
  padding: 6px !important;
  line-height: 1.5 !important;
  border-top: 1px solid #e7ecf1 !important;
  padding-right: 15px !important;
  background-color: #D7D7D8 !important;
}
.table2 > thead > tr > td {
  padding: 6px !important;
  line-height: 1.5 !important;
  border-top: 1px solid #e7ecf1 !important;
  padding-right: 15px !important;
  /*background-color: #D7D7D8 !important;*/
}
.table2 thead tr th {
    font-size: 12px !important;
    font-weight: 600;
    /*color: #fff;*/
}
.table2 thead tr td {
    font-size: 12px !important;
    font-weight: 600;
    /*color: #fff;*/
}


.table2 tbody tr td {
    font-size: 12px !important;
}

.table2 > tbody > tr > td {
  padding: 6px !important;
}
</style>
    <body class="page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
         
            
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class=="report_header">
                <div class="row div_control">
                    <!-- <a type="button" class="btn btn-sm red-mint" onclick="print_report();"><i class="fa fa-print"></i> Print</a> -->
                    <a href="sadfsa">dsfs</a>
                    <a href="{{base_url}}keuangan/ReportTagihanPerusahaan/cetakpdf.html"><i class="fa fa-file-pdf-o"></i> PDF</a>
                </div>
                <br/>
              <!--   <div class="row">
                  <div class="col-md-2">
                    <img src="{{base_url}}assets/pages/img/login/koperasi_logo.png" style="width: 190px;">
                  </div>
                  <div class="col-md-10 judul_report"> KOPERASI TASS INDONESIA NUSANTARA</div>
                </div> -->
                <hr>
            </div>
            {% block content %}{% endblock %}
     
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
        <script src="{{base_url}}assets//global/plugins/respond.min.js"></script>
        <script src="{{base_url}}assets//global/plugins/excanvas.min.js"></script> 
        <script src="{{base_url}}assets//global/plugins/ie8.fix.min.js"></script> 
        <![endif]-->



        {% include 'get_plugin_footer.html' %}
       
    </body>
<script type="text/javascript">
function print_report() {
    $(".div_control").hide();
    print(document);
    $(".div_control").show();
    
}

var xport = {
  _fallbacktoCSV: true,  
  toXLS: function(tableId, filename) {   
    this._filename = (typeof filename == 'undefined') ? tableId : filename;
    
    //var ieVersion = this._getMsieVersion();
    //Fallback to CSV for IE & Edge
    if ((this._getMsieVersion() || this._isFirefox()) && this._fallbacktoCSV) {
      return this.toCSV(tableId);
    } else if (this._getMsieVersion() || this._isFirefox()) {
      alert("Not supported browser");
    }

    //Other Browser can download xls
    var htmltable = document.getElementById(tableId);
    var html = htmltable.outerHTML;

    this._downloadAnchor("data:application/vnd.ms-excel" + encodeURIComponent(html), 'xls'); 
  },
  toCSV: function(tableId, filename) {
    this._filename = (typeof filename === 'undefined') ? tableId : filename;
    // Generate our CSV string from out HTML Table
    var csv = this._tableToCSV(document.getElementById(tableId));
    // Create a CSV Blob
    var blob = new Blob([csv], { type: "text/csv" });

    // Determine which approach to take for the download
    if (navigator.msSaveOrOpenBlob) {
      // Works for Internet Explorer and Microsoft Edge
      navigator.msSaveOrOpenBlob(blob, this._filename + ".csv");
    } else {      
      this._downloadAnchor(URL.createObjectURL(blob), 'csv');      
    }
  },
  _getMsieVersion: function() {
    var ua = window.navigator.userAgent;

    var msie = ua.indexOf("MSIE ");
    if (msie > 0) {
      // IE 10 or older => return version number
      return parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)), 10);
    }

    var trident = ua.indexOf("Trident/");
    if (trident > 0) {
      // IE 11 => return version number
      var rv = ua.indexOf("rv:");
      return parseInt(ua.substring(rv + 3, ua.indexOf(".", rv)), 10);
    }

    var edge = ua.indexOf("Edge/");
    if (edge > 0) {
      // Edge (IE 12+) => return version number
      return parseInt(ua.substring(edge + 5, ua.indexOf(".", edge)), 10);
    }

    // other browser
    return false;
  },
  _isFirefox: function(){
    if (navigator.userAgent.indexOf("Firefox") > 0) {
      return 1;
    }
    
    return 0;
  },
  _downloadAnchor: function(content, ext) {
      var anchor = document.createElement("a");
      anchor.style = "display:none !important";
      anchor.id = "downloadanchor";
      document.body.appendChild(anchor);

      // If the [download] attribute is supported, try to use it
      
      if ("download" in anchor) {
        anchor.download = this._filename + "." + ext;
      }
      anchor.href = content;
      anchor.click();
      anchor.remove();
  },
  _tableToCSV: function(table) {
    // We'll be co-opting `slice` to create arrays
    var slice = Array.prototype.slice;

    return slice
      .call(table.rows)
      .map(function(row) {
        return slice
          .call(row.cells)
          .map(function(cell) {
            return '"t"'.replace("t", cell.textContent);
          })
          .join(",");
      })
      .join("\r\n");
  }
};

function blockPage(){
    App.blockUI({
        boxed: true
    });
}

function ublockPage(){
    App.unblockUI();
}

</script>
</html>