{% extends "header.html" %}
{% block content %}


<div class="breadcrumbCustom flat">
    <a href="#">Home</a>
    <a href="#" class="active">Dashboard</a>
</div>
<hr>


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="149">149</span>
                </div>
                <div class="desc"> Pinjaman Baru </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="85">85</span> </div>
                <div class="desc"> Anggota </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="59">59</span>
                </div>
                <div class="desc"> Pinjaman Jatuh Tempo </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">89</span></div>
                <div class="desc"> DLL </div>
            </div>
        </a>
    </div>
</div>

<div class="clearfix"></div>


<br/>


<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{base_url}}assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->


<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{base_url}}assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->


<!-- BEGIN PAGE TITLE-->

<!-- END PAGE TITLE-->
{% endblock %}