<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="utf-8" />
        <title>KOPERASI</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for " name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{base_url}}assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{base_url}}assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{base_url}}assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{base_url}}assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- TOASTR -->
        <link href="{{base_url}}assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <!-- ENTOASTR -->
        
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{base_url}}assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{base_url}}assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{{base_url}}assets/pages/css/login.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <!-- <link rel="shortcut icon" href="{{base_url}}assets/global/img/favicon.png" /> </head> -->
    <!-- END HEAD -->

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <!-- <a href="index.html"> <img src="{{base_url}}assets/pages/img/login/gsg-logo.png" alt="" /> </a> -->
            LOGO KOPERASI
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->

            <form class="login-form" action="" method="post" class="lgnForm">
                <br/>
                <div class="form-group" align="right">
                    <!-- <img src="{{base_url}}assets/pages/img/logohcms2.png" alt="" /> -->
                    Koperasi Indonesia Nusantara
                </div>
                <!-- <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div> -->
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" required /> </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" required /> </div>
                <div class="form-group">
                    <button type="submit" class="btn red-mint uppercase"><i class="fa fa-sign-in"></i> Login</button>
                </div>
                

            </form>
           
            
        </div>
        <div class="copyright"> 2019 &copy; copyright Koperasi</div>
        <!--[if lt IE 9]>
<script src="{{base_url}}assets/global/plugins/respond.min.js"></script>
<script src="{{base_url}}assets/global/plugins/excanvas.min.js"></script> 
<script src="{{base_url}}assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{base_url}}assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="{{base_url}}assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{base_url}}assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="{{base_url}}assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{{base_url}}assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{{base_url}}assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{base_url}}assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="{{base_url}}assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->

        <script src="{{base_url}}assets//global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->



        <!-- TOASTR -->
        <script src="{{base_url}}assets/global/plugins/bootstrap-toastr/toastr.js" type="text/javascript"></script>
        <!-- END PTOASTR -->

        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{base_url}}assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{base_url}}assets/pages/scripts/login.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
        <script type="text/javascript">
        $("form").submit(function(event) {
            App.blockUI({
                boxed: true
            });
        });

        $(document ).ready(function() {
            
            {% if session.flashdata.msg !='' %}
            toastr["{{session.flashdata.type}}"]("{{session.flashdata.msg}}", "Notification");
            {% endif %}

        });
        </script>


    </body>

</html>