<script src="{{base_url}}assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT STYLES -->
<script src="{{base_url}}assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{base_url}}assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>

<script src="{{base_url}}assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/scripts/app.js" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{base_url}}assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="{{base_url}}assets/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="https://editor.datatables.net/media/js/dataTables.editor.min.js"></script> -->
<script type="text/javascript" src="{{ base_url }}assets/global/plugins/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="{{ base_url }}assets/global/plugins/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
{% block content %}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{base_url}}assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{base_url}}assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{base_url}}assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{base_url}}assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- TOASTR -->
        <link href="{{base_url}}assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <!-- ENTOASTR -->
        
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{base_url}}assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{base_url}}assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{{base_url}}assets/pages/css/login.css" rel="stylesheet" type="text/css" />
<style type="text/css">

</style>
<body> 
</body>
<body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="index.html"> <img src="{{base_url}}assets/pages/img/login/tass-logo.png" alt="" /> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->

                <br/>
                <div class="form-group" align="right">
                    <img src="{{base_url}}assets/pages/img/sikon.png" alt="" />
                </div>
                <!-- <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div> -->
                 <form class="login-form" action="" method="post" class="lgnForm">
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" required /> </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" required /> </div>
                <div class="form-group">
                   
                        <button type="submit" class="btn red-mint uppercase"><i class="fa fa-sign-in"></i> Login</button>
                    </form>
                        <div class="form-group" align="right">
                            <a onclick="daftar()">Daftar</a>
                        </div>
                </div>
                

            <!-- </form> -->
           
            
        </div>
        <div class="copyright"> 2019 &copy; copyright Koperasi</div>


               
<script type="text/javascript">
     $("form").submit(function(event) {
            App.blockUI({
                boxed: true
            });
        });

        $(document ).ready(function() {
            
            {% if session.flashdata.msg !='' %}
            toastr["{{session.flashdata.type}}"]("{{session.flashdata.msg}}", "Notification");
            {% endif %}

        });

function daftar() {
   $.fancybox.open({
        href : "{{base_url}}anggota/Anggota/addAnggota/",
        type : 'iframe',
        helpers : {
            media: true 
        },
        width: "80%",
        height: 800,
        autoSize: false,
        scrolling: false
   });                
}


</script>
{% endblock %}