 <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav sidebar-menu" id="side-menu">
            <li>
                <a href="{{base_url}}}main" class="list-group-item" style="background-color: #a8a1a1;"><center> <b>MODULE</b></center>
                </a>
            </li>




            <li class='nav-item'>
                <a href='javascript:;' class='nav-link nav-toggle'>
                    <i class='fa fa-th-large fa-fw'></i>
                    <span class='title'>Master Data</span>
                    <span class='arrow '></span>
                </a>

                <ul class='sub-menu'>


                        <li class='nav-item'>
                            <a href='http://localhost:8060/gsgneo/javascript:void(0)' target='_blank' class='nav-link'>
                                <i class='icon-user'></i> Rujukan
                                <span class='arrow nav-toggle'></span>
                            </a>
                        </li>

                        <ul class='sub-menu'>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/masterdata/company/listcompany.html' class='nav-link'>
                                    <i class='icon-tag'></i> Company</a>
                            </li>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/C_country' class='nav-link'>
                                    <i class='icon-tag'></i> Country</a>
                            </li>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/C_bu' class='nav-link'>
                                    <i class='icon-tag'></i> Business Unit</a>
                            </li>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/C_employeeStatus' class='nav-link'>
                                    <i class='icon-tag'></i> Employee Status</a>
                            </li>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/C_religion' class='nav-link'>
                                    <i class='icon-tag'></i> Religion</a>
                            </li>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/C_education' class='nav-link'>
                                    <i class='icon-tag'></i> Education Strata</a>
                            </li>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/C_organisasiStruktur' class='nav-link'>
                                    <i class='icon-tag'></i> Organization Structure</a>
                            </li>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/C_maritalStatus' class='nav-link'>
                                    <i class='icon-tag'></i> Marital Status</a>
                            </li>
                            <li class='nav-item'>
                                <a href='http://localhost:8060/gsgneo/C_costCenter' class='nav-link'>
                                    <i class='icon-tag'></i> Cost Center</a>
                            </li>
                        </ul>
                </ul>
            </li>
        
        
        </ul>
    </div>
  </div>
</div>