{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
body{
  background-color: #FFF !important;
}
</style>


<div class="powerwidget blue" data-widget-editbutton="false">
  <header>
    <h2>List Penawaran Tender </h2>
  </header>

  <div class="inner-spacer">
    <table class="table table-striped table-hover" id="table-1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Nomor Penawaran</th>
          <th>Uraian</th>
          <th>Pilih</th>
        </tr>
      </thead>
      <tbody>
        {% for data in data %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ data.nomor_usulan }}</td>
          <td>{{ data.keterangan }}</td>
          <td>
            <span class="label label-success"><a href="javascript:void(0);" onclick="selectThis('{{data.id_usulan}}', '{{data.nomor_usulan}}');">Pilih</a></span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Nomor Penawaran</th>
          <th>Uraian</th>
          <th>Pilih</th>
        </tr>
      </tfoot>
    </table>
</div>

</div>



<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables-bootstrap.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/dataTables.colVis.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/colvis.extras.js"></script> 

<script type="text/javascript">
// Login Form Validation


$(document).ready(function() { 


});

function selectThis(idUsulan, nomorUsulan){
    
    window.parent.$("#nomor_usulan").val(nomorUsulan);
    window.parent.$.fancybox.close();
  }

</script>

{% endblock %}