{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
body{
  background-color: #FFF !important;
}
</style>


<div class="powerwidget blue" data-widget-editbutton="false">
  <header>
    <h2>List Golongan </h2>
  </header>

  <div class="inner-spacer">
    <table class="table table-striped table-hover" id="table-1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Kode Golongan</th>
          <th>Nama Golongan</th>
          <th>Pangkat</th>
          <th>Pilih</th>
        </tr>
      </thead>
      <tbody>
        {% for data in data %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ data.KDGOL }}</td>
          <td>{{ data.NMGOL }}</td>
          <td>{{ data.PANGKAT }}</td>
          <td>
            <span class="label label-success"><a href="javascript:void(0);" onclick="selectThis('{{data.id_gol}}', '{{data.KDGOL}}','{{data.NMGOL}}','{{data.PANGKAT}}');">Pilih</a></span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>No.</th>
          <th>Kode Golongan</th>
          <th>Nama Golongan</th>
          <th>Pangkat</th>
          <th>Pilih</th>
        </tr>
      </tfoot>
    </table>
</div>

</div>



<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables-bootstrap.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/dataTables.colVis.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/colvis.extras.js"></script> 

<script type="text/javascript">
// Login Form Validation


$(document).ready(function() { 


});

function selectThis(id_gol, KDGOL, NMGOL, PANGKAT){
    window.parent.$("#id_gol").val(id_gol);
    window.parent.$("#KDGOL").val(KDGOL);
    window.parent.$("#NMGOL").val(NMGOL);
    window.parent.$("#PANGKAT").val(PANGKAT);
    //window.parent.$("#KDAKUN").val(KDAKUN);
    window.parent.$.fancybox.close();
  }

</script>

{% endblock %}