{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
body{
  background-color: #FFF !important;
}
</style>


<div class="powerwidget blue" data-widget-editbutton="false">
  <header>
    <h2>List MAK </h2>
  </header>

  <div class="inner-spacer">
    <table class="table table-striped table-hover" id="table-1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Nama Kegiatan</th>
          <th>Kode MAK</th>
          <th>Nama MAK</th>
          <th>Nilai MAK</th>
          <th>Pilih</th>
        </tr>
      </thead>
      <tbody>
        {% for data in data %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ data.NMGIAT }}</td>
          <td>{{ data.KDAKUN }}</td>
          <td>{{ data.NMMAK }}</td>
          <td>{{ data.NILMAK | number_format(2,',','.')  }}</td>
          <td>
            <span class="label label-success"><a href="javascript:void(0);" onclick="selectThis('{{data.id_mak}}', '{{data.NOSP2D}}','{{data.NILMAK}}','{{data.NMGIAT}}','{{data.KDAKUN}}','{{data.KDGIAT}}');">Pilih</a></span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>No.</th>
          <th>Nama Kegiatan</th>
          <th>Kode MAK</th>
          <th>Nama MAK</th>
          <th>Nilai MAK</th>
          <th>Pilih</th>
        </tr>
      </tfoot>
    </table>
</div>

</div>



<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables-bootstrap.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/dataTables.colVis.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/colvis.extras.js"></script> 

<script type="text/javascript">
// Login Form Validation


$(document).ready(function() { 


});

function selectThis(id_mak, NOSP2D, NILMAK, NMGIAT, KDAKUN, KDGIAT){
    window.parent.$("#id_mak").val(id_mak);
    window.parent.$("#NOSP2D").val(NOSP2D);
    window.parent.$("#NILMAK").val(NILMAK);
    window.parent.$("#NMGIAT").val(NMGIAT);
    window.parent.$("#KDAKUN").val(KDAKUN);
    window.parent.$("#KDGIAT").val(KDGIAT);
    window.parent.$.fancybox.close();
  }

</script>

{% endblock %}