{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
body{
  background-color: #FFF !important;
}
</style>


<div class="powerwidget blue" data-widget-editbutton="false">
  <header>
    <h2>List Data </h2>
  </header>

  

  <div class="inner-spacer">

  <section>
    <label>Kegiatan: </label>
    <label>
      {{ giat.NMGIAT }}
    </label>
  </section>

  <section>
    <label >Output: </label>
    <label>
      {{ output.NMOUTPUT }}
    </label>
  </section>



    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>No SPM</th>
          <th>Kode Akun</th>
          <th>Nama Item</th>
          <th>Nilai MAK</th>
          <th>Nilai Pengeluaran</th>
          <th>Sisa Anggaran</th>
        </tr>
      </thead>
      <tbody>
        {% for data in data %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ data.NOSPM }}</td>
          <td>{{ data.KDAKUN }}</td>
          <td>
          {% set ret = data.NMITEM|replace({' ': "&nbsp;"}) %}
          {% if data.TOTNILMAK == 0%}
          <strong>{{ ret|raw }}<strong>
          {% else %}
          {{ ret|raw }}
          {% endif %}
          </td>
          <td align="right">{{ data.TOTNILMAK|number_format(2, ',', '.') }}</td>          
          <td align="right">{{ data.TOTNILMAP|number_format(2, ',', '.') }}</td>
          <td align="right">{{ data.TOTRPH|number_format(2, ',', '.') }}</td>
          
          
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
         <th>No.</th>
          <th>No SPM</th>
          <th>Kode Akun</th>
          <th>Nama Item</th>
          <th>Nilai MAK</th>
          <th>Nilai Pengeluaran</th>
          <th>Sisa Anggaran</th>
          
        </tr>
      </tfoot>
    </table>
</div>

</div>



<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables-bootstrap.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/dataTables.colVis.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/colvis.extras.js"></script> 

<script type="text/javascript">
// Login Form Validation




</script>

{% endblock %}