{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
body{
  background-color: #FFF !important;
}
</style>


<div class="powerwidget blue" data-widget-editbutton="false">
  <header>
    <h2>List Penyedia Jasa/Vendor </h2>
  </header>

  <div class="inner-spacer">
    <table class="table table-striped table-hover" id="table-1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Nama Vendor</th>
          <th>Jenis Vendor</th>
          <th>Alamat</th>
          <th>No. Telp</th>
          <th>Narasumber</th>
          <th>Pilih</th>
        </tr>
      </thead>
      <tbody>
        {% for data in data %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ data.nama_vendor }}</td>
          <td>{{ data.jenis_vendor }}</td>
          <td>{{ data.alamat }}</td>
          <td>{{ data.no_telp }}</td>
          <td>{{ data.narasumber }}</td>
          <td>
            <span class="label label-success"><a href="javascript:void(0);" onclick="selectThis('{{data.id_vendor}}', '{{data.nama_vendor}}','{{data.narasumber}}');">Pilih</a></span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>No.</th>
          <th>Nama Vendor</th>
          <th>Jenis Vendor</th>
          <th>Alamat</th>
          <th>No. Telp</th>
          <th>Narasumber</th>
          <th>Pilih</th>
        </tr>
      </tfoot>
    </table>
</div>

</div>



<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/jquery.dataTables-bootstrap.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/dataTables.colVis.js"></script> 
<script type="text/javascript" src="{{base_url}}assets/js/vendors/datatables/colvis.extras.js"></script> 

<script type="text/javascript">
// Login Form Validation


$(document).ready(function() { 


});

function selectThis(id_vendor, nama_vendor, narasumber){
    window.parent.$("#id_vendor").val(id_vendor);
    window.parent.$("#nama_vendor").val(nama_vendor);
    window.parent.$("#narasumber").val(narasumber);
   // window.parent.$("#NMGIAT").val(NMGIAT);
    //window.parent.$("#KDAKUN").val(KDAKUN);
    window.parent.$.fancybox.close();
  }

</script>

{% endblock %}