{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Keuangan</a>
    <a href="#" class="active">List Pembayaran</a>
</div>
<hr>
<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>Id Transaksi</th>
       <th>Produk</th>
       <th>Nama Anggota</th>
       <th>Tanggal Pengajuan</th>
       <th>Tgl Jatuh Tempo</th>
       <th>Nominal</th>
       <th>Lama Pinjaman</th>
       <th>Admin & Provisi</th>
       <th>Angsuran Perbulan</th>
       <th>Total</th>
       <th>Sisa</th>
       <!-- <th>Aksi</th> -->
      </tr>
    </thead>
</table>

<script type="text/javascript">
$(document).ready(function() {
  var table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}produk/SetProduk/getAjaxData.html",  
      "ajax": {
        "url": "{{ base_url }}keuangan/Pembayaran/getAjaxData.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },

      columnDefs: [ {
          // "targets": -1,
          // "data": null,
          // "defaultContent": "<edit class='fa fa-pencil'></edit>",
          // "width": "120px",
      }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [5, 10, 50, 100, -1],
          [5, 10, 50, 100, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick */
  $('#dataList tbody').on('click', 'edit', function () {
      var data = table.api().row($(this).parents('tr')).data();
      var type = "bayar";
      // alert(data[11]);
      $.fancybox.open({
            href : "{{base_url}}keuangan/Pembayaran/addPembayaran/"+type+"/"+data[12],
            type : 'iframe',
            helpers : {
                media: true 
            },
            width: "40%",
            height: 600,
            autoSize: false,
            scrolling: false
       });     
      // window.location="{{base_url}}produk/SetProduk/addKategori/"+data[7]+".html";
  });
  
  /* berikut handle delete data data onclick */
  // $('#dataList tbody').on('click', 'delete', function () {
    
  //     var data = table.api().row($(this).parents('tr')).data();
  //     confirmThis("{{base_url}}produk/SetProduk/delKatProduk/"+data[7]+".html");
  // });

});

</script>


{% endblock %}