{% extends "header.html" %}
{% block content %}
<style type="text/css">
  .margin10{
    margin-top: 7px;
  }
  .margin5{
    margin: 5px 15px 0 0;
    padding: 2px 15px 0 0;
  }
  .hrLine{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-top: dotted 1px #A19E9F !important; 
}
.row .col-md-1, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, 
.row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11, .row .col-md-12 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.col-md-10 {
    width: 82.33333% !important;
}
.form-body textarea{
    font-size: 12px !important;
    height: 70px !important;
    border: 1px inset #CCC9C9 !important;
    background-color: #eee !important;
    width: 100%;
}
.dataTable  close{
  padding: 2px 3px 2px 3px;
  border-radius: 4px !important;
  text-align: center;
  color: #D60D0D;
  background-color: #FFFFFF;
  border: solid 1px #ccc;
  cursor: pointer;
}

.dataTable  save,{
  padding: 2px 3px 2px 3px;
  border-radius: 4px !important;
  text-align: center;
  color: #D60D0D;
  background-color: #FFFFFF;
  border: solid 1px #ccc;
  cursor: pointer;
}

.empImg{
  position: relative;
  width: 100%;
}

.iconImg {
  color:#fff; 
  border: thin solid #ccc;
  background: rgba(86, 80, 77, 0.39); 
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: right;
  padding-right: 5px;
  /*display: none;;*/
}

.iconImg a{
  color:#fff;
}
input[type="date"] {
  display: block;
  /*margin-bottom: 3px !important;
  padding: 0px 5px 30px 5px !important;*/ }

</style>
<div class="breadcrumbCustom flat">
    <a href="#">Keuangan</a>
    <a href="#" class="active">Tagihan Perusahaan</a>
</div>
<hr>
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">  
      <div class="form-body" id="formBiodata">
        <div class="row">

          <div class="col-md-10 cleanSpace"  style="border:solid 1px #ccc; border-radius:5px !important; padding: 0px 15px 15px 15px !important; margin-left:10px !important;">
            <div class="row">
                <div class="portlet grey box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-book"></i><label class="">Produk</label> </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body" id="blockui_sample_4_portlet_body" style="display: block;">
                        <p>
                          <div class="row">
                            <div class="col-md-2  ">
                                <label class="compactLabel">Produk:</label>
                            </div>
                            <div class="col-md-3">
                              <div class="input-group">
                                  <input type="hidden" name="kat_id" id="kat_id" value="">
                                  <input type="text" name="kat_kode" id="kat_kode" value="" class="form-control" placeholder="Kode Produk" readonly="">
                                  <span class="input-group-btn">
                                      <button class="btn grey-mint btn-sm" type="button"  onclick="getProduk('prod')"><i class="fa fa-book"></i></button>
                                  </span>
                              </div>
                            </div>
                          </div>
                          <div class="row margin10">
                            <div class="col-md-2  ">
                                <label class="compactLabel">Produk:</label>
                            </div>
                            <div class="col-md-3">
                              <input type="text" name="kat_nama" id="kat_nama" class="form-control" disabled="true" placeholder="Produk">
                            </div>
                          </div>
                          <div class="row margin10">
                            <div class="col-md-2  ">
                                <label class="compactLabel">Instansi:</label>
                            </div>
                            <div class="col-md-3">
                              <input type="text" name="ins_nama" id="ins_nama" class="form-control" disabled="true" placeholder="Instansi">
                            </div>
                          </div>
                          <div class="row margin10">
                            <div class="col-md-2  ">
                                <label class="compactLabel">Nama Instansi:</label>
                            </div>
                            <div class="col-md-3">
                              <input type="text" name="sin_nama" id="sin_nama" class="form-control" disabled="true" placeholder="Nama Instansi">
                            </div>
                          </div>
                          <div class="row margin10">
                            <div class="col-md-2  ">
                                <label class="compactLabel">Alamat:</label>
                            </div>
                            <div class="col-md-5">
                              <textarea id="sin_alamat" name="sin_alamat" disabled="true" class="form-control" placeholder="Alamat"></textarea>
                            </div>
                          </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" id="tampil" style="display: none;">
              <!-- <hr class="hrLine">
                <div class="row borderBawah margin5">
                     <div class="col-md-3">
                        <label class="compactLabel" style="margin-top: 5px">Penerima:
                            <input type="text" name="inv_penerima" id="inv_penerima" class="form-control" placeholder="Penerima">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Tanggal Tagihan:
                            <input type="date" name="inv_tagihan" id="inv_tagihan"" class="form-control" placeholder="Tanggal Tagihan">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Tanggal Jatuh Tempo:
                            <input type="date" name="inv_jatuh_tempo" id="inv_jatuh_tempo" class="form-control" placeholder="Tanggal Jatuh Tempo">
                        </label>
                    </div>
                </div>
                <h4>Informasi Rekening Tujuan</h4>
                <div class="row borderBawah margin5">
                    <div class="col-md-3">
                        <label class="compactLabel">Nama Bank:
                            <input type="text" name="inv_bank" id="inv_bank" class="form-control" placeholder="Nama Bank">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Nama Pemilik Rekening:
                            <input type="text" name="inv_pemilik" id="inv_pemilik"" class="form-control" placeholder="Nama Pemilik Rekening">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Nomor Rekening:
                            <input type="text" name="inv_norek" id="inv_norek" class="form-control" placeholder="Nomor Rekening">
                        </label>
                    </div>
                </div> -->
                <div class="col-md-12" style="text-align: right;" >
                    <button type="button" onclick="displayReport()" class="btn btn-sm red-mint"><i class="fa fa-filter"></i> Tampilkan </button>
                    <!-- <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a> -->
                </div>
            </div>
          </div>
        </div>
      </div>
</form>

<script type="text/javascript">
function getProduk(type){
  $.fancybox.open({
      href : "{{base_url}}keuangan/ShowProduk/index/"+type,
      type : 'iframe',
      helpers : {
          media: true 
      },
      width: "80%",
      height: 800,
      autoSize: false,
      scrolling: false
  });

}

function displayReport(){
  var kat_id = $("#kat_id").val();
  // var inv_penerima = $("#inv_penerima").val();
  // var inv_tagihan = $("#inv_tagihan").val();
  // var inv_jatuh_tempo = $("#inv_jatuh_tempo").val();
  // var inv_bank = $("#inv_bank").val();
  // var inv_pemilik = $("#inv_pemilik").val();
  // var inv_norek = $("#inv_norek").val();
 
  
  // if(kat_id=="" || inv_penerima=="" || inv_tagihan=="" || inv_jatuh_tempo=="" || inv_bank=="" || inv_pemilik=="" || inv_norek==""){
  //     toastr['error']("Data tidak boleh kosong.", "Notification");
  // }else{
    $.fancybox.open({
      href : "{{base_url}}keuangan/ReportTagihanPerusahaan/detailCetakPdf/"+kat_id+".html",
      // href : "{{base_url}}keuangan/ReportTagihanPerusahaan/cetakPdf/"+kat_id+"/"+inv_penerima+"/"+inv_tagihan+"/"+inv_jatuh_tempo+"/"+inv_bank+"/"+inv_pemilik+"/"+inv_norek+".html",
      type : 'iframe',
      helpers : {
          media: true 
      },
      width: "80%",
      height: "100%",
      autoSize: false,
      scrolling: false
    });
  // }
}
</script>
{% endblock %}