{% extends "headerreport.html" %}
{% block content %}
<style type="text/css">
  .border1{
    border: thin solid grey;
  }
</style>
<div class="col-md-12" style="margin-bottom: 100px;">
  <div class="row">
    Invoice to: <br>
    Nama Penerima
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row"><b>Nama Dinas</b></div>
      <div class="row">Alamat</div>
      <div class="row">Fax</div>
    </div>
    <div class="col-md-6">
      <table class="table2" id="dataList">
        <thead>
          <tr>
           <th width="180px;"  style="vertical-align:middle">Kode Produk</th>
           <td width="180px;" style="vertical-align:middle">{{kat_kode}}</td>    
          </tr>
          <tr>
           <th width="180px;" style="vertical-align:middle">Tangal Tagihan</th>
           <td width="180px;"  style="vertical-align:middle">{{tanggalTagihan}}</td>    
          </tr>
          <tr>
           <th width="180px;" style="vertical-align:middle">Tangal Jatuh Tempo</th>
           <td width="180px;"  style="vertical-align:middle"></td>    
          </tr>

        </thead>
    </table>
      
    </div>
  </div>
</div>

<br/>

<table class="table table-striped table-bordered table-hover" id="dataList" style="margin-top: 30px">
    <thead>
      <tr>
       <th width="120px;" style="vertical-align:middle">Total Tagihan</th>
       <th width="120px;" style="vertical-align:middle">Total Bayaran</th>
       <th width="120px;" style="vertical-align:middle">Sisa</th>
      </tr>
      <tr>
        <td>Rp. {{totalTagihan}}</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
</table>

<p>
<h3>Informasi rekening tujuan
</h3>
<table class="table table-striped table-bordered table-hover" id="dataList" style="margin-top: 30px">
    <thead>
      <tr>
       <th width="120px;" style="vertical-align:middle">Nama Bank</th>
       <th width="120px;" style="vertical-align:middle">Nama Pemilik Rekening</th>
       <th width="120px;" style="vertical-align:middle">Nomor Rekening</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
</table>
<p>
<h3>Catatan:</h3>
<textarea class="form-control"></textarea>


<p>
<h3>Invoice# {{kat_kode}}</h3>
<br>
<table class="table table-striped table-bordered table-hover" id="dataList" style="margin-top: 30px">
    <thead>
      <tr>
       <th width="120px;" style="vertical-align:middle">No</th>
       <th width="120px;" style="vertical-align:middle">Id Transaksi</th>
       <th width="120px;" style="vertical-align:middle">Tanggal Tagihan</th>
       <th width="120px;" style="vertical-align:middle">Nama</th>
       <th width="120px;" style="vertical-align:middle">Produk</th>
       <th width="120px;" style="vertical-align:middle">Tagihan</th>
       <th width="120px;" style="vertical-align:middle"><center>Admin App & Provisi</center></th>
       <th width="120px;" style="vertical-align:middle">Status</th>
      </tr>
    </thead>
      {% for dt in row %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{dt.tran_transaksi_id}}</td>
        <td></td>
        <td>{{dt.ang_nama}}</td>
        <td>{{dt.kat_kode}}</td>
        <td></td>
        <td>{{dt.bun_persen}} %</td>
        <td>{{dt.tran_status}}</td>
      </tr>
      {% endfor %}
</table>
{% endblock %}