{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
  .margin10{
    margin-top: 7px;
  }
  .margin5{
    margin: 5px 15px 0 0;
    padding: 2px 15px 0 0;
  }
  .border1{
    border: thin solid;
  }
  .compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.col-md-10 {
    width: 82.33333% !important;
}
h4{
   margin: 5px 15px 0 20px;
   padding: 2px 15px 0 0;
}
</style>
<form class="form-horizontal" role="form" action="{{base_url}}keuangan/ReportTagihanPerusahaan/cetakPdf.html" method="post">
  <div class="row">
      <div class="row borderBawah margin5">
          <div class="col-md-3">
              <label class="compactLabel">Tanggal Tagihan:
                  <input type="date" name="inv_tagihan" id="inv_tagihan"" class="form-control" placeholder="Tanggal Tagihan" required="true">
              </label>
          </div>
          <div class="col-md-3">
              <label class="compactLabel">Tanggal Jatuh Tempo:
                  <input type="date" name="inv_jatuh_tempo" id="inv_jatuh_tempo" class="form-control" placeholder="Tanggal Jatuh Tempo" required="true">
              </label>
          </div>
      </div>
      <h4>Informasi Rekening Tujuan</h4>
      <div class="row borderBawah margin5">
          <div class="col-md-3">
              <label class="compactLabel">Nama Bank:
                  <!-- <input type="text" name="inv_bank" id="inv_bank" class="form-control" placeholder="Nama Bank" required="true"> -->
                  <select name="inv_bank" id="inv_bank" class="form-control" required="">
                            <option value="">==Pilih Bank==</option>
                            {% for row in bank %}
                              <option value="{{row.bank_nama}}">{{row.bank_nama}}</option>
                            {%endfor%}
                        </select>
              </label>
          </div>
          <div class="col-md-3">
              <label class="compactLabel">Nama Pemilik Rekening:
                  <input type="text" name="inv_pemilik" id="inv_pemilik"" class="form-control" placeholder="Nama Pemilik Rekening" required="true">
              </label>
          </div>
          <div class="col-md-3">
              <label class="compactLabel">Nomor Rekening:
                  <input type="text" name="inv_norek" id="inv_norek" class="form-control" placeholder="Nomor Rekening" required="true">
              </label>
          </div>
      </div>
      <div class="col-md-12" style="text-align: right;" >
        <input type="hidden" name="kat_id" id="kat_id" value="{{kat_id}}">
          <button type="submit" class="btn btn-sm red-mint"><i class="fa fa-file-pdf-o"></i> Pdf </button>
      </div>
  </div>
</form>
<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>Id Transaksi</th>
       <th>Tanggal Tagihan</th>
       <th>Nama</th>
       <th>Produk</th>
       <th>Tagihan</th>
       <th>Admin App & Provisi</th>
       <th>Status</th>
      </tr>
    </thead>
</table>


<script type="text/javascript">
$(document).ready(function() {
  var table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}transaksi/Transaksi/getAjaxData.html",  

      "ajax": {
        "url": "{{ base_url }}keuangan/ReportTagihanPerusahaan/getAjaxData/{{kat_id}}.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },

      columnDefs: [ {
          // "targets": -1,
          // "data": null,
          // "defaultContent": "<edit class='fa fa-pencil'></edit> <delete class='fa fa-trash'></delete> ",
          // "width": "120px",
      }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [5, 10, 50, 100, -1],
          [5, 10, 50, 100, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick 
  $('#dataList tbody').on('click', 'edit', function () {
      var data = table.api().row($(this).parents('tr')).data();
      window.location="{{base_url}}utility/menu/addmenu/"+data[7]+".html";
  });*/
  
  /* berikut handle delete data data onclick ]*/
  $('#dataList tbody').on('click', 'delete', function () {
    
      var data = table.api().row($(this).parents('tr')).data();
      confirmThis("{{base_url}}transaksi/Transaksi/deleteTransaksi/"+data[9]+".html");
  });

});


</script>


{% endblock %}