{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Keuangan</a>
    <a href="#">List Detail Pembayaran</a>
    <a href="#" class="active">#{{idTransaksi.tran_transaksi_id}}</a>
</div>
<hr>
<div class="row">
  <div class="col-md-1">Nama</div>
  <div class="col-md-2">{{idTransaksi.ang_nama}}</div>
</div>
<div class="row">
  <div class="col-md-1">Produk</div>
  <div class="col-md-2">{{idTransaksi.kat_kode}}</div>
</div>
<br>
<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>Cicilan Ke-</th>
       <th>Id Transaksi</th>
       <th>Produk</th>
       <th>Angsuran Perbulan</th>
       <th>Tgl Jatuh Tempo</th>
       <th>Kurang Bayar</th>
       <th>Status</th>
       <th>Catatan</th>
       <th>Aksi</th>
      </tr>
    </thead>
</table>

<script type="text/javascript">
$(document).ready(function() {
  var table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}produk/SetProduk/getAjaxData.html",  
      "ajax": {
        "url": "{{ base_url }}keuangan/Pembayaran/getAjaxDataPembayaran/{{tran_id}}.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },

      columnDefs: [ {
          "targets": -1,
          "data": null,
          "defaultContent": "<edit class='fa fa-pencil'></edit>",
          "width": "120px",
      }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [5, 10, 50, 100, -1],
          [5, 10, 50, 100, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick */
  $('#dataList tbody').on('click', 'edit', function () {
      var data = table.api().row($(this).parents('tr')).data();
      var type = "bayar";
      // alert(data[11]);
      if(data[9] == 0){
        $.fancybox.open({
              href : "{{base_url}}keuangan/Pembayaran/addPembayaran/"+type+"/"+data[8],
              type : 'iframe',
              helpers : {
                  media: true 
              },
              width: "40%",
              height: 600,
              autoSize: false,
              scrolling: false
         }); 
      }
            
      // window.location="{{base_url}}produk/SetProduk/addKategori/"+data[7]+".html";
  });
  
  /* berikut handle delete data data onclick */
  // $('#dataList tbody').on('click', 'delete', function () {
    
  //     var data = table.api().row($(this).parents('tr')).data();
  //     confirmThis("{{base_url}}produk/SetProduk/delKatProduk/"+data[7]+".html");
  // });

});

</script>


{% endblock %}