{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
.hrLine{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-top: dotted 1px #A19E9F !important; 
}
input[type="date"] {
  display: block;
  /*margin-bottom: 3px !important;
  padding: 0px 5px 35px 5px !important;*/ }
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Transaksi</a>
    <a href="#" class="active">Form Transaksi</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="" method="post" id="formTransaksi" name="formTransaksi">
<!-- <form class="form-horizontal" role="form" action="{{base_url}}produk/SetProduk/addKategori.html" method="post"> -->
  <div class="form-body">
    <div class="row">
        <div class="portlet grey box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa"></i><label class="">Biodata</label> </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body" id="blockui_sample_4_portlet_body" style="display: block;">
                <div class="row borderBawah">
                    <div class="col-md-3">
                        <label class="compactLabel">Nama:
                            <div class="input-group">
                                <input type="text" name="ang_nama" id="ang_nama" value="" class="form-control" placeholder="Anggota" disabled="true">
                                <span class="input-group-btn">
                                    <button class="btn grey-mint btn-sm" type="button"  onclick="getMstAnggota('transaksi')"><i class="fa fa-book"></i></button>
                                </span>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Hp:
                            <input type="text" name="ang_hp" id="ang_hp" value="" class="form-control" placeholder="Hp" disabled="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Limit Pinjaman:
                            <input type="text" name="ang_limit" id="ang_limit" value="" class="form-control" placeholder="Limit Pinjaman" readonly="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Dana Tersedia:
                            <input type="text" name="ang_dana" id="ang_dana" value="" class="form-control" placeholder="Dana Tersedia" readonly="true">
                        </label>
                    </div>
                </div>
                <div class="row borderBawah">
                    <div class="col-md-3">
                        <label class="compactLabel">Nama Bank:
                            <input type="text" name="bnk_nama" id="bnk_nama" value="" class="form-control" placeholder="Nama Bank" disabled="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Nama Pemilik Rekening:
                            <input type="text" name="bnk_pemilik" id="bnk_pemilik" value="" class="form-control" placeholder="Nama Pemilik Rekening" disabled="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Nomor Rekening:
                            <input type="text" name="bnk_norek" id="bnk_norek" value="" class="form-control" placeholder="Nomor Rekening" disabled="true">
                        </label>
                    </div>
                </div>
                <hr class="hrLine">
                <div class="row borderBawah">
                    <div class="col-md-3">
                        <label class="compactLabel">Kode Produk:
                            <input type="text" name="kat_kode" id="kat_kode" value="" class="form-control" placeholder="Kode Produk" disabled="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Nama Produk:
                            <input type="text" name="kat_nama" id="kat_nama" value="" class="form-control" placeholder="Nama Produk" disabled="true">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="portlet grey box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa"></i><label class="">Informasi Transaksi</label> </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body" id="blockui_sample_4_portlet_body" style="display: block;">
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">ID Transaksi</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="text" name="tran_transaksi_id" id="tran_transaksi_id" class="form-control" placeholder="ID Transaksi" value="{{idTransaksi}}" readonly="true">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Untuk Kebutuhan</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <select name="tran_kebutuhan" id="tran_kebutuhan" class="form-control">
                                <option value="Pendidikan">Pendidikan</option>
                                <option value="Darurat">Darurat</option>
                                <option value="Kredit">Kredit</option>
                                <option value="Pribadi">Pribadi</option>
                                <option value="Lainnya">Lainnya</option>
                            </select>
                            <!-- <input type="text" name="tran_kebutuhan" id="tran_kebutuhan" class="form-control" placeholder="Untuk Kebutuhan">                             -->
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Nominal Pengajuan</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="text" name="tran_nominal" id="tran_nominal" class="form-control" placeholder="Nominal Pengajuan"> 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Lama Angsuran</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <select class="form-control" name="bun_id" id="bun_id">
                                {% for row in bunga%}
                                    <option value="{{row.bun_id}}">{{row.bun_bulan}} Bulan</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Admin & Provisi (%)</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="text" name="tran_bunga" id="tran_bunga" class="form-control" placeholder="(%)"> 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Tanggal Jatuh Tempo</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="date" name="tran_jatuh_tempo" id="tran_jatuh_tempo" class="form-control" placeholder=""> 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="hidden" name="ang_id" id="ang_id" value="">
                        <button type="button" class="btn btn-sm red-mint" onclick="saveTransaksi()"><i class="fa fa-save"></i> Save</button>
                        <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div>
  
</form>
<script type="text/javascript">
    function getMstAnggota(type) {
       $.fancybox.open({
            href : "{{base_url}}anggota/showAnggota/index/"+type,
            type : 'iframe',
            helpers : {
                media: true 
            },
            width: "80%",
            height: 800,
            autoSize: false,
            scrolling: false
       });                
    }

    function saveTransaksi(){
        var str = $("#formTransaksi" ).serialize();
        // alert(str);
        blockPage();
        $.ajax({
            url : "{{base_url}}transaksi/Transaksi/saveByAjax.html",
            type : "POST",
            data : str,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                ublockPage();
                toastr[output.type](output.msg, "Notification");

                // alert(output.type);
                if(output.type=="success"){
                    window.location.href ='{{base_url}}transaksi/Transaksi.html';
                }
            }

        });
    }
</script>
{% endblock %}