{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
.hrLine{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-top: dotted 1px #A19E9F !important; 
}
input[type="date"] {
  display: block;
  /*margin-bottom: 3px !important;
  padding: 0px 5px 35px 5px !important;*/ }
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Transaksi</a>
    <a href="#">List Transaksi</a>
    <a href="#" class="active">Detail Transaksi</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="" method="post" id="formTransaksi" name="formTransaksi">
<!-- <form class="form-horizontal" role="form" action="{{base_url}}produk/SetProduk/addKategori.html" method="post"> -->
  <div class="form-body">
    <div class="row">
        <div class="portlet grey box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa"></i><label class="">Biodata</label> </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body" id="blockui_sample_4_portlet_body" style="display: block;">
                <div class="row borderBawah">
                    <div class="col-md-3">
                        <label class="compactLabel">Nama:
                            <input type="text" name="ang_nama" id="ang_nama" class="form-control" placeholder="Nama" disabled="true" value="{{edit.ang_nama}}">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Hp:
                            <input type="text" name="ang_hp" id="ang_hp" class="form-control" placeholder="Hp" disabled="true" value="{{edit.ang_hp}}">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Limit Pinjaman:
                            <input type="text" name="ang_limit" id="ang_limit" value="{{edit.ang_limit|number_format(2, '.', ',')}}" class="form-control" placeholder="Limit Pinjaman" readonly="true" disabled="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Dana Tersedia:
                            <input type="text" name="ang_dana" id="ang_dana" value="{{edit.ang_dana|number_format(2, '.', ',')}}" class="form-control" placeholder="Dana Tersedia" readonly="true" disabled="true">
                        </label>
                    </div>
                </div>
                <div class="row borderBawah">
                    <div class="col-md-3">
                        <label class="compactLabel">Nama Bank:
                            <input type="text" name="bnk_nama" id="bnk_nama" value="{{edit.bnk_nama}}" class="form-control" placeholder="Nama Bank" disabled="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Nama Pemilik Rekening:
                            <input type="text" name="bnk_pemilik" id="bnk_pemilik" value="{{edit.bnk_pemilik}}" class="form-control" placeholder="Nama Pemilik Rekening" disabled="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Nomor Rekening:
                            <input type="text" name="bnk_norek" id="bnk_norek" value="{{edit.bnk_norek}}" class="form-control" placeholder="Nomor Rekening" disabled="true">
                        </label>
                    </div>
                </div>
                <hr class="hrLine">
                <div class="row borderBawah">
                    <div class="col-md-3">
                        <label class="compactLabel">Kode Produk:
                            <input type="text" name="kat_kode" id="kat_kode" value="{{edit.kat_kode}}" class="form-control" placeholder="Kode Produk" disabled="true">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="compactLabel">Nama Produk:
                            <input type="text" name="kat_nama" id="kat_nama" value="{{edit.kat_nama}}" class="form-control" placeholder="Nama Produk" disabled="true">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="portlet grey box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa"></i><label class="">Informasi Transaksi</label> </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body" id="blockui_sample_4_portlet_body" style="display: block;">
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">ID Transaksi</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="text" name="tran_transaksi_id" id="tran_transaksi_id" class="form-control" placeholder="ID Transaksi" value="{{edit.tran_transaksi_id}}" readonly="true" disabled="true">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Untuk Kebutuhan</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <select name="tran_kebutuhan" id="tran_kebutuhan" class="form-control" disabled="true">
                                <option value="Pendidikan" {%if edit.tran_kebutuhan == "Pendidikan" %} selected="true" {%endif%}>Pendidikan</option>
                                <option value="Darurat" {%if edit.tran_kebutuhan == "Darurat" %} selected="true" {%endif%}>Darurat</option>
                                <option value="Kredit" {%if edit.tran_kebutuhan == "Kredit" %} selected="true" {%endif%}>Kredit</option>
                                <option value="Pribadi" {%if edit.tran_kebutuhan == "Pribadi" %} selected="true" {%endif%}>Pribadi</option>
                                <option value="Lainnya" {%if edit.tran_kebutuhan == "Lainnya" %} selected="true" {%endif%}>Lainnya</option>
                            </select>
                            <!-- <input type="text" name="tran_kebutuhan" id="tran_kebutuhan" class="form-control" placeholder="Untuk Kebutuhan" value="{{edit.tran_kebutuhan}}" disabled="true">                             -->
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Nominal Pengajuan</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="text" name="tran_nominal" id="tran_nominal" class="form-control" placeholder="Nominal Pengajuan" value="{{edit.tran_nominal|number_format(2, '.', ',')}}" disabled="true"> 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Admin & Provisi (%)</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="text" name="tran_bunga" id="tran_bunga" class="form-control" placeholder="(%)" value="{{edit.tran_bunga}}"> 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Lama Angsuran</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <select class="form-control" name="bun_id" id="bun_id" disabled="true">
                                {% for row in bunga%}
                                    {% if row.bun_id == edit.bun_id %}
                                        <option value="{{row.bun_id}}" selected="true">{{row.bun_jumlah}} {%if row.bun_kategori== 1%}Hari{%else%}Bulan{%endif%}</option>
                                    {%else%}
                                        <option value="{{row.bun_id}}">{{row.bun_bulan}} {%if row.bun_kategori== 1%}Hari{%else%}Bulan{%endif%}</option>
                                    {%endif%}
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Tanggal Jatuh Tempo</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="date" name="tran_jatuh_tempo" id="tran_jatuh_tempo" class="form-control" placeholder="" value="{{edit.tran_jatuh_tempo}}" disabled="true"> 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label class="compactLabel2">Status Operational</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <select name="tran_status_operational" id="tran_status_operational" class="form-control" onchange="statusOperational(this.value)">
                                <option value="1" {% if edit.tran_status_operational== "1"%} selected="true" {%endif%}>Menunggu transfer</option>
                                <option value="2" {% if edit.tran_status_operational== "2"%} selected="true" {%endif%}>Ditolak</option>
                                <option value="3" {% if edit.tran_status_operational== "3"%} selected="true" {%endif%}>Sudah ditransfer</option>
                                <option value="4" {% if edit.tran_status_operational== "4"%} selected="true" {%endif%}>Ditinjau ulang</option>
                                <option value="5" {% if edit.tran_status_operational== "5"%} selected="true" {%endif%}>Dibatalkan anggota</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row" id="idKomen" style="display: none;">
                    <div class="col-sm-2"><label class="compactLabel2">Komentar</label></div>
                    <div class="col-sm-3">
                        <label class="compactLabel2">
                            <input type="text" name="tran_komen" id="tran_komen" class="form-control" placeholder="Komentar"> 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="hidden" name="tran_id" id="tran_id" value="{{edit.tran_id}}">
                        <button type="button" class="btn btn-sm red-mint" onclick="saveTransaksi()"><i class="fa fa-save"></i> Save</button>
                        <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div>
  
</form>
<script type="text/javascript">


    function saveTransaksi(){
        var str = $("#formTransaksi" ).serialize();
        // alert(str);
        blockPage();
        $.ajax({
            url : "{{base_url}}transaksi/Transaksi/editTransaksi.html",
            type : "POST",
            data : str,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                ublockPage();
                toastr[output.type](output.msg, "Notification");

                // alert(output.type);
                if(output.type=="success"){
                    window.location.href ='{{base_url}}transaksi/Transaksi.html';
                }
            }

        });
    }

    function statusOperational(tran_status_operational){
      // alert(tran_status_operational);
      if(tran_status_operational == "2" || tran_status_operational == "4"){
        $("#idKomen").show('slow');
      }else{
        $("#idKomen").hide('slow');
      }
    }
</script>
{% endblock %}