{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Produk</a>
    <a href="#" class="active">Tambah Produk</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}produk/SetProduk/addKategori.html" method="post">
  <div class="form-body">
  <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Instansi</label></div>
        <div class="col-sm-3">
            <label class="compactLabel2">
                <select class="form-control input-sm selectpicker" placeholder="Kategori Instansi Menu" name="ins_id" id="ins_id" data-live-search="true" onchange="getInstansi(this.value)">
                    <option value="0">==Pilih Instansi==</option>
                {% for row in kat_instansi %}

                  {% if edit.ins_id == row.ins_id %}
                    <option value="{{row.ins_id}}" selected=""> {{row.ins_nama}} </option>
                  {% else %}
                    <option value="{{row.ins_id}}" > {{row.ins_nama}} </option>
                  {% endif %}

                {% endfor %}
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Sub Instansi</label></div>
        <div class="col-sm-3">
            <select class="form-control bs-select" data-live-search="true" name="sin_id" id="sin_id" required="true">
                    <option value="">Select Item</option>
                    <option value="{{edit.sin_id}}" selected="true">[{{edit.sin_kode}}] {{edit.sin_nama}}</option>
                </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Kode Produk</label></div>
        <div class="col-sm-3"><input type="text" name="kat_kode" id="kat_kode" class="form-control" placeholder="Kode Kategori" required="true" value="{{edit.kat_kode}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Nama Produk</label></div>
        <div class="col-sm-4"><input type="text" name="kat_nama" id="kat_nama" class="form-control" placeholder="Nama Kode" value="{{edit.kat_nama}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Kategori Produk</label></div>
        <div class="col-sm-4">
        <select name="kat_kategori" id="kat_kategori" class="form-control" onchange="katProduk(this.value)">
            <option value="">==Pilih kategori produk==</option>
            <option value="1" {% if edit.kat_kategori=="1"%} selected="true"{%endif%}>Grup</option>
            <option value="2" {% if edit.kat_kategori=="2"%} selected="true"{%endif%}>Personal</option>
        </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Tipe Angsuran</label></div>
        <div class="col-sm-4">
            <select id="bun_kategori" name="bun_kategori" class="form-control">
                <option value="1" {% if edit.bun_kategori == "1"%} selected="true" {%endif%}>Harian</option>
                <option value="0" {% if edit.bun_kategori == "0"%} selected="true" {%endif%}>Bulanan</option>
            </select>
        </div>
    </div>
    <div class="row" id="adminProvisi" {% if edit.kat_kategori !="1"%} style="display: none;" {%endif%}>
        <div class="col-sm-2"><label class="compactLabel2">Admin & Provisi (%)</label></div>
        <div class="col-sm-4">
            <input type="text" name="kat_bunga" id="kat_bunga" class="form-control" placeholder="Admin & Provisi" value="{{edit.kat_bunga}}">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Deskripsi</label></div>
        <div class="col-sm-4">
        <textarea name="kat_desk" id="kat_desk" class="form-control">{{edit.kat_desk}}</textarea></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="hidden" name="kat_id" id="kat_id" value="{{edit.kat_id}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>
  </div>
  
</form>

<script type="text/javascript">
     function getInstansi(ins_id){
        // alert(ins_id);
        blockPage();
        $.ajax({
            url : "{{base_url}}produk/SetProduk/getInstansi.html",
            type : "POST",
            data : 'ins_id='+ins_id,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                console.log(output);
                // alert(output.row.length);
                var n = output.row.length;
                html = "";
                html += "<option value=''>Select Item</option>";
                for(var i=0; i < n; i++){ 

                    html += '<option value="'+ output.row[i].sin_id +'"> ['+output.row[i].sin_kode+'] '+output.row[i].sin_nama+'</option><br/>';
                }

                if(n == 0)
                {
                    html +='<option value="">NULL</option>';
                }

                    $('#sin_id').selectpicker('destroy');
                    $("#sin_id").html(html);
                    $("#sin_id").selectpicker();
                ublockPage();
                // toastr[output.type](output.row, "Notification");
            }
        });
    }

    function katProduk(kat_kategori){
        if(kat_kategori == "1"){
            $("#adminProvisi").show('slow');
        }else{
            $("#adminProvisi").hide('slow');
        }
    }
</script>
{% endblock %}