{% extends "headerblank.html" %}
{% block content %}

<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>Action</th>
       <th>Nama</th>
       <th>User Status</th>
       <th>Email</th>
       <th>No. Hp</th>
      </tr>
    </thead>
</table>

<script type="text/javascript">
var table;
$(document).ready(function() {
  table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}anggota/ShowAnggota/getAjaxData/{{tag}}.html",  
      "ajax": {
        "url": "{{ base_url }}anggota/ShowUser/getAjaxData/{{tag}}.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },


      columnDefs: [ {
          "targets": 0,
          "data": null,
          "defaultContent": "<{{tag}} style='cursor:pointer;' class='fa fa-plus'>Select</{{tag}}>",
          "width": "80px",
      }],

      buttons: [
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [10, 50, 100, 250, -1],
          [10, 50, 100, 250, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });
  
  $('#dataList tbody').on('click', 'app', function () {
      var data = table.api().row($(this).parents('tr')).data();
      window.parent.$("#appname").val(data[1]);
      window.parent.$("#usr_menyetujui").val(data[0]);
      window.parent.$.fancybox.close();
  });

});

</script>


{% endblock %}