{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Anggota</a>
    <a href="#" class="active">List Anggota</a>
</div>
<hr>

<a type="button" class="btn red-mint" id="add" href="{{base_url}}anggota/Anggota/detailAnggota.html"><i class="fa fa-plus"></i> Add New</a>

<!-- <table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>Produk</th>
       <th>Nama</th>
       <th>Pekerjaan</th>
       <th>Alamat</th>
       <th>Status Aktif</th>
       <th>Aksi</th>
      </tr>
    </thead>
</table> -->

<table class="table table-striped table-bordered table-hover" id="dataList2">
    <thead>
      <tr>
       <th>No</th>
       <th>Produk</th>
       <th>Nama</th>
       <th>Pekerjaan</th>
       <th>Alamat</th>
       <th>Status Aktif</th>
       <th>Aksi</th>
      </tr>
    </thead>
</table>


<script type="text/javascript">
$(document).ready(function() {
  var table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}anggota/Anggota/getAjaxData.html",  

      "ajax": {
        "url": "{{ base_url }}anggota/Anggota/getAjaxData.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },
      columnDefs: [ {
          "targets": -1,
          "data": null,
          "defaultContent": "<delete class='fa fa-trash'></delete>",
          "width": "120px",
      }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [5, 10, 50, 100, -1],
          [5, 10, 50, 100, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick */
  // $('#dataList tbody').on('click', 'edit', function () {
  //     var data = table.api().row($(this).parents('tr')).data();
  //     window.location="{{base_url}}utility/menu/addmenu/"+data[7]+".html";
  // });
  
  /* berikut handle delete data data onclick */
  $('#dataList tbody').on('click', 'delete', function () {
    
      var data = table.api().row($(this).parents('tr')).data();
      confirmThis("{{base_url}}anggota/Anggota/deleteAnggota/"+data[6]+".html");
  });

});


var dataList2 = function () {

    var handleTable = function () {

      function restoreRow(oTable, nRow) {
          var aData = oTable.fnGetData(nRow);
          var jqTds = $('>td', nRow);

          for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
              oTable.fnUpdate(aData[i], nRow, i, false);
          }

          oTable.fnDraw();
      }

      function editRow(oTable, nRow) {
          var aData = oTable.fnGetData(nRow);
          var jqTds = $('>td', nRow);

          jqTds[0].innerHTML =  aData[0];
          jqTds[1].innerHTML =  aData[1];
          jqTds[2].innerHTML =  aData[2];
          jqTds[3].innerHTML =  aData[3];
          jqTds[4].innerHTML =  aData[4];

          var html="";
            html+='<select class="form-control input-sm" id="ang_status" name="ang_status">';
            if(aData[7]=="0"){
              html+='<option value="0" selected="true">Terminasi</option><option value="1">Terverifikasi</option><option value="2">Menunggu Persetujuan</option><option value="3">Ditolak</option><option value="4">Suspen</option>';
            }else if(aData[7]=="1"){
              html+='<option value="0">Terminasi</option><option value="1" selected="true">Terverifikasi</option><option value="2">Menunggu Persetujuan</option><option value="3">Ditolak</option><option value="4">Suspen</option>';
            }else if(aData[7]=="2"){
              html+='<option value="0">Terminasi</option><option value="1">Terverifikasi</option><option value="2" selected="true">Menunggu Persetujuan</option><option value="3">Ditolak</option><option value="4">Suspen</option>';
            }else if(aData[7]=="3"){
              html+='<option value="0">Terminasi</option><option value="1">Terverifikasi</option><option value="2">Menunggu Persetujuan</option><option value="3" selected="true">Ditolak</option><option value="4">Suspen</option>';
            }else if(aData[7]=="4"){
              html+='<option value="0">Terminasi</option><option value="1">Terverifikasi</option><option value="2">Menunggu Persetujuan</option><option value="3">Ditolak</option><option value="4" selected="true">Suspen</option>';
            }
            html+='</select>';
          jqTds[5].innerHTML = html;
          jqTds[6].innerHTML =  '<a class="edit" href="">Save</a> <a class="cancel" href="">Cancel</a><input type="hidden" name="ang_id" value="'+aData[6]+'">';
         
      }

      function saveRow(oTable, nRow) {
        var str=$("#dataList2").find('input, select').serialize();
        // alert(str);
        blockPage();
        $.ajax({
            url : "{{base_url}}anggota/Anggota/editAnggota",
            type : "POST",
            data: str,
            datatype: 'json',

            success:function(data){
              var output = JSON.parse(data);
              $('#dataList2').DataTable().ajax.reload();
              ublockPage();
              toastr[output.type](output.msg, "Notification");
            }
        });
      }

      function cancelEditRow(oTable, nRow) {
          var jqInputs = $('input', nRow);
          oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
          oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
          oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
          oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
          oTable.fnUpdate('<a class="edit" href="">Edit</a>', nRow, 4, false);
          oTable.fnDraw();
      }

      var table = $('#dataList2');

      var oTable = table.dataTable({
          "ajax": {
            "url": "{{ base_url }}anggota/Anggota/getAjaxData.html", 
              "dataSrc": function ( json ) {

                console.log(json);
              
              if(json.data != 'error')
              {
                return json.data;
              }
              else
              {
                toastr['error']('No Data Available in Table', "Notification");

                $('#dataList2').DataTable({

                  destroy:true,
                  language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

                  buttons: [
                      { extend: 'print', className: 'btn grey' },
                      { extend: 'pdf', className: 'btn grey' },
                      { extend: 'csv', className: 'btn grey' }
                  ],
                  responsive: false,
                  colReorder: {
                      reorderCallback: function () {
                          console.log( 'callback' );
                      }
                  },
                  "lengthMenu": [
                      [5, 10, 15, 20, -1],
                      [5, 50, 100, 250, "All"]
                  ],

                  dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                  "pageLength": 10,
                });
                
              }

            }
          },
          columnDefs: [ {
            "targets": -1,
            "data": null,
            "defaultContent": "<edit class='edit fa fa-pencil'></edit> <delete class='fa fa-trash'></delete>",
            "width": "90px",
          },
          {
              "targets": 1,
              "width": "150px",
          }],
          // aaSorting: [[1, 'desc']],
          buttons: [
              // { extend: 'print', className: 'btn grey' },
              // { extend: 'pdf', className: 'btn grey' },
              // { extend: 'csv', className: 'btn grey' }
          ],
          responsive: false,
          colReorder: {
              reorderCallback: function () {
                  console.log( 'callback' );
              }
          },
          "lengthMenu": [
              [5, 10, 50, 100, 250, -1],
              [5, 10, 50, 100, 250, "All"]
          ],

          dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
          "pageLength": 10,
      });

      var education = $("#dataList2");

      var nEditing = null;
      var nNew = false;

      // table.on('click', '.delete', function (e) {
      //     e.preventDefault();

      //     if (confirm("Are you sure to delete this row ?") == false) {
      //         return;
      //     }

      //     var nRow = $(this).parents('tr')[0];
      //     oTable.fnDeleteRow(nRow);
      //     alert("Deleted! Do not forget to do some ajax to sync with backend :)");
      // });

      $('#dataList2 tbody').on('click', 'delete', function () {
          var data = table.api().row($(this).parents('tr')).data();
          var ang_id = data[6];
          bootbox.confirm("Are you sure?",function(result){
            if(result){
                blockPage();
                $.ajax({
                    url : "{{base_url}}anggota/Anggota/delAnggota/",
                    type : "POST",
                    data: 'ang_id='+ang_id,
                    datatype: 'json',

                    success:function(data){
                        var output = JSON.parse(data);
                        $('#dataList2').DataTable().ajax.reload();
                        ublockPage();
                        toastr[output.type](output.msg, "Notification");
                                        

              // window.location="{{base_url}}employee/masteremployee/addemployee/"+output.id_emp+".html";

                    }
                });
            }
          });
      });

      table.on('click', '.cancel', function (e) {
          e.preventDefault();
          if (nNew) {
              oTable.fnDeleteRow(nEditing);
              nEditing = null;
              nNew = false;
          } else {
              restoreRow(oTable, nEditing);
              nEditing = null;
          }
      });

      table.on('click', '.edit', function (e) {
          e.preventDefault();
          nNew = false;
          
          /* Get the row as a parent of the link that was clicked on */
          var nRow = $(this).parents('tr')[0];

          if (nEditing !== null && nEditing != nRow) {
              /* Currently editing - but not this row - restore the old before continuing to edit mode */
              restoreRow(oTable, nEditing);
              editRow(oTable, nRow);
              nEditing = nRow;
          } else if (nEditing == nRow && this.innerHTML == "Save") {
              /* Editing this row and want to save it */
              saveRow(oTable, nEditing);
              nEditing = null;
              // alert("Updated! Do not forget to do some ajax to sync with backend :)");
          } else {
              /* No edit in progress - let's start one */
              editRow(oTable, nRow);
              nEditing = nRow;
          }
      });
    }

    return {

        //main function to initiate the module
        init: function () {
            handleTable();
        }

    };

}();

jQuery(document).ready(function() {
    dataList2.init();

            
});

    
</script>


{% endblock %}