{% extends "headerblank.html" %}
{% block content %}

<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>Id Transaksi</th>
       <th>Produk</th>
       <!-- <th>Dana Tersedia</th> -->
       <!-- <th>Limit</th> -->
       <th>Kebutuhan</th>
       <th>Pinjaman</th>
       <th>Tgl Pengajuan</th>
       <th>Tgl Transfer</th>
       <th>Jumlah (bln)</th>
       <th>Cicilan/bln</th>
       <th>Admin & Provisi (%)</th>
       <th>Total</th>
       <th>Status Operational</th>
       <th>Status</th>
      </tr>
    </thead>
</table>


<script type="text/javascript">
$(document).ready(function() {
  var table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}anggota/Anggota/getAjaxData.html",  

      "ajax": {
        "url": "{{ base_url }}anggota/AnggotaTransaksi/getAjaxData/{{ang_id}}.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },
      // columnDefs: [ {
      //     "targets": -1,
      //     "data": null,
      //     "defaultContent": "<edit class='fa fa-pencil'></edit> <delete class='fa fa-trash'></delete> <view class='fa fa-search'></view>",
      //     "width": "120px",
      // }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [5, 10, 50, 100, -1],
          [5, 10, 50, 100, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick 
  $('#dataList tbody').on('click', 'edit', function () {
      var data = table.api().row($(this).parents('tr')).data();
      window.location="{{base_url}}utility/menu/addmenu/"+data[7]+".html";
  });
  */
  /* berikut handle delete data data onclick 
  $('#dataList tbody').on('click', 'delete', function () {
    
      var data = table.api().row($(this).parents('tr')).data();
      confirmThis("{{base_url}}utility/menu/deletemenu/"+data[7]+".html");
  });*/

});
</script>


{% endblock %}