{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Produk</a>
    <a href="#" class="active">List Produk</a>
</div>
<hr>

<a type="button" class="btn red-mint" id="add" href="{{base_url}}utility/Menu/addmenu.html"><i class="fa fa-plus"></i> Add New</a>

<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>Parent Menu</th>
       <th>Nama Menu</th>
       <th>URL Menu</th>
       <th>Icon Menu</th>
       <th>Urutan</th>
       <th>Status Aktif</th>
       <th>Action</th>
      </tr>
    </thead>
</table>


<script type="text/javascript">
$(document).ready(function() {
  var table = $('#dataList').dataTable({
      ajax: "{{ base_url }}utility/menu/getAjaxData.html",  


      columnDefs: [ {
          "targets": -1,
          "data": null,
          "defaultContent": "<edit class='fa fa-pencil'></edit> <delete class='fa fa-trash'></delete> <view class='fa fa-search'></view>",
          "width": "120px",
      }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [5, 10, 50, 100, -1],
          [5, 10, 50, 100, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick */
  $('#dataList tbody').on('click', 'edit', function () {
      var data = table.api().row($(this).parents('tr')).data();
      window.location="{{base_url}}utility/menu/addmenu/"+data[7]+".html";
  });
  
  /* berikut handle delete data data onclick */
  $('#dataList tbody').on('click', 'delete', function () {
    
      var data = table.api().row($(this).parents('tr')).data();
      confirmThis("{{base_url}}utility/menu/deletemenu/"+data[7]+".html");
  });

});
</script>


{% endblock %}