{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
.hrLine{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-top: dotted 1px #A19E9F !important; 
}
input[type="date"] {
  display: block;
  /*margin-bottom: 3px !important;
  padding: 0px 5px 35px 5px !important;*/ }
</style>
<form class="form-horizontal" role="form" action="" method="post" id="bayarTransaksi" name="bayarTransaksi">
<!-- <form class="form-horizontal" role="form" action="{{base_url}}produk/SetProduk/addKategori.html" method="post"> -->
  <div class="form-body">
    <div class="row">
      <div class="portlet grey box">
          <div class="portlet-title">
              <div class="caption">
                  <i class="fa"></i><label class="">Pembayaran #{{row.tran_transaksi_id}}</label> </div>
              <div class="tools">
                  <!-- <a href="javascript:;" class="collapse" data-original-title="" title=""> </a> -->
              </div>
          </div>
          <div class="portlet-body" id="blockui_sample_3_portlet_body" style="display: block; padding-left: 20px">
            <!-- <div class="col-sm-12"> -->
              <div class="row">
                  <div class="col-md-2"><label class="compactLabel2">Kode Produk</label></div>
                  <div class="col-sm-3">
                      <label class="compactLabel2">
                          <input type="text" name="kat_kode" id="kat_kode" class="form-control" placeholder="Kode Produk" value="{{row.kat_kode}}" readonly="true">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2"><label class="compactLabel2">Nama</label></div>
                  <div class="col-sm-3">
                      <label class="compactLabel2">
                          <input type="text" name="ang_nama" id="ang_nama" class="form-control" placeholder="Nama Anggota" value="{{row.ang_nama}}" readonly="true">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2"><label class="compactLabel2">Sisa Pinjaman</label></div>
                  <div class="col-sm-3">
                      <label class="compactLabel2">
                          <input type="text" name="tran_sisa" id="tran_sisa" class="form-control" placeholder="Sisa Pinjaman" value="{{row.tran_sisa|number_format(0, '.', ',')}}" readonly="true">
                          <input type="hidden" name="sisa" id="sisa" value="{{row.tran_sisa}}">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2"><label class="compactLabel2">Angsuran Perbulan</label></div>
                  <div class="col-sm-3">
                      <label class="compactLabel2">
                          <input type="text" name="tran_perbulan" id="tran_perbulan" class="form-control" placeholder="Angsuran Perbulan" value="{{row.tran_perbulan|number_format(0, '.', ',')}}" readonly="true">
                          <input type="hidden" name="perbulan" id="perbulan" value="{{row.tran_perbulan}}">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2"><label class="compactLabel2">Tanggal Bayar</label></div>
                  <div class="col-sm-3">
                      <label class="compactLabel2">
                          <input type="date" name="angs_tgl" id="angs_tgl" class="form-control" placeholder="">
                      </label>
                  </div>
              </div>
              {% if row.angs_kurang_bayar != 0%}
              <div class="row">
                  <div class="col-md-2"><label class="compactLabel2">Kurang Bayar</label></div>
                  <div class="col-sm-3">
                      <label class="compactLabel2">
                          <input type="text" name="angs_kurang_bayar" id="angs_kurang_bayar" class="form-control" placeholder="Kurang Bayar" value="{{row.angs_kurang_bayar}}">
                      </label>
                  </div>
              </div>
              {%endif%}
              <div class="row">
                  <div class="col-md-2"><label class="compactLabel2">Jumlah Nominal</label></div>
                  <div class="col-sm-3">
                      <label class="compactLabel2">
                          <input type="text" name="angs_nominal" id="angs_nominal" class="form-control" placeholder="Nominal">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2"><label class="compactLabel2">Catatan</label></div>
                  <div class="col-sm-3">
                      <label class="compactLabel2">
                          <textarea name="angs_komentar" id="angs_komentar" class="form-control"></textarea>
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-3">
                      <input type="hidden" name="tran_id" id="tran_id" value="{{row.tran_id}}">
                      <input type="hidden" name="angs_id" id="angs_id" value="{{row.angs_id}}">
                      <input type="hidden" name="nominal" id="nominal" value="{{row.angs_nominal}}">
                      <button type="button" class="btn btn-sm red-mint" onclick="saveTransaksi()"><i class="fa fa-save"></i> Save</button>
                      
                  </div>
              </div>
            <!-- </div> -->
          </div>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript">
  function saveTransaksi(){
        var str = $("#bayarTransaksi" ).serialize();
          blockPage();
          $.ajax({
              url : "{{base_url}}keuangan/Pembayaran/saveByAjax.html",
              type : "POST",
              data : str,
              datatype: 'json',
              success:function(data){
                  var output = JSON.parse(data);
                  window.parent.$('#dataList').DataTable().ajax.reload();
                  window.parent.$.fancybox.close();
                  // alert(output.type);
                  // if(output.type=="success"){
                  //     window.parent.location.href ='{{base_url}}keuangan/Pembayaran.html';
                  // }
                  
                  ublockPage();
                   toastr[output.type](output.msg, "Notification");
              }

          });
    }
</script>
{%endblock%}