{% extends "header.html" %}
{% block content %}
<style type="text/css">
  .backgroudTitle{
    background-color: #f2eeee;
    padding: 3px;
    font-weight: bold;

  }
  .marginTop3{
    margin-top: 3px;
  }
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Transaksi</a>
    <a href="#" class="active">Detail Transaksi Produk</a>
</div>
<hr>
<div class="row">
  <div class="col-md-2">Kode Produk</div>
  <div class="col-md-3 backgroudTitle">{{row.kat_kode}}</div>
</div>
<div class="row marginTop3">
  <div class="col-md-2">Tanggal Pembuatan</div>
  <div class="col-md-3 backgroudTitle">{{tgl}}</div>
</div>
<div class="row marginTop3">
  <div class="col-md-2">Instansi</div>
  <div class="col-md-3 backgroudTitle">{{row.sin_nama}}</div>
</div>

<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>Id Transaksi</th>
       <th>Produk</th>
       <th>Nama Anggota</th>
       <th>Tanggal Pengajuan</th>
       <th>Nominal</th>
       <th>Tanggal Transfer</th>
       <th>Status Operational</th>
       <th>Status</th>
       <!-- <th>Aksi</th> -->
      </tr>
    </thead>
</table>

<script type="text/javascript">
  $(document).ready(function() {
  var table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}transaksi/Transaksi/getAjaxData.html",  

      "ajax": {
        "url": "{{ base_url }}transaksi/Transaksi/getAjaxData/{{row.kat_id}}.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },

      columnDefs: [ {
          // "targets": -1,
          // "data": null,
          // "defaultContent": "<edit class='fa fa-pencil'></edit> <delete class='fa fa-trash'></delete> ",
          // "width": "120px",
      }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [5, 10, 50, 100, -1],
          [5, 10, 50, 100, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick 
  $('#dataList tbody').on('click', 'edit', function () {
      var data = table.api().row($(this).parents('tr')).data();
      window.location="{{base_url}}utility/menu/addmenu/"+data[7]+".html";
  });*/
  
  /* berikut handle delete data data onclick ]*/
  $('#dataList tbody').on('click', 'delete', function () {
    
      var data = table.api().row($(this).parents('tr')).data();
      confirmThis("{{base_url}}transaksi/Transaksi/deleteTransaksi/"+data[9]+".html");
  });

});
</script>
{% endblock %}