
{% extends "headerblank.html" %}
{% block content %}
<form action="{{base_url}}transaksi/Transaksi/showExportExcel" method="post" name="formFilter" id="formFilter">
  <div class="row">
    <div class="col-md-2">Tanggal</div>
    <div class="col-md-2">
      <input type="date" name="tran_tgl_pengajuan" id="tran_tgl_pengajuan" class="form-control">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn red-mint"><i class="fa fa-filter"></i> Filter</button>
    </div>
  </div>
</form>
<div style="text-align: right;"><a href="{{base_url}}/transaksi/Transaksi/exportExcel/{{tran_tgl_pengajuan}}" class="btn grey">Export Excel</a></div>
<!-- <div style="text-align: right;"><button type="button" class="btn grey" onclick="exportExcel()">Export xls</button></div> -->
<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>Id Transaksi</th>
       <th>Produk</th>
       <th>Nama Anggota</th>
       <th>Tanggal Pengajuan</th>
       <th>Kebutuhan</th>
       <th>Nominal</th>
       <th>Lama Pinjaman</th>
       <th>Bunga</th>
       <th>Angsuran Perbulan</th>
       <th>Total</th>
       <th>Status Operational</th>
       <th>Status </th>
      </tr>
    </thead>
</table>

<script type="text/javascript">
var table;
$(document).ready(function() {
  table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}anggota/ShowAnggota/getAjaxData/{{tag}}.html",  
      "ajax": {
        "url": "{{ base_url }}transaksi/transaksi/getAjaxData2/{{tran_tgl_pengajuan}}.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },


      columnDefs: [ {
          // "targets": 0,
          // "data": null,
          // "defaultContent": "<{{tag}} style='cursor:pointer;' class='fa fa-plus'>Select</{{tag}}>",
          // "width": "80px",
      }],

      buttons: [
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [10, 50, 100, 250, -1],
          [10, 50, 100, 250, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });

});

function exportExcel(){
  // var str = $("#formFilter" ).serialize();
  var tran_tgl_pengajuan = $("#tran_tgl_pengajuan").val();

  if(tran_tgl_pengajuan != ""){
    alert(tran_tgl_pengajuan);
  }
// blockPage();
//   $.ajax({
//       url : "{{base_url}}transaksi/Transaksi/exportByAjax.html",
//       type : "POST",
//       data : str,
//       datatype: 'json',
//       success:function(data){
//           var output = JSON.parse(data);
//           ublockPage();
//           toastr[output.type](output.msg, "Notification");
//       }
//   });
}

</script>


{% endblock %}