{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Transaksi</a>
    <a href="#" class="active">List Transaksi</a>
</div>
<hr>

<a type="button" class="btn red-mint" id="add" href="{{base_url}}transaksi/Transaksi/addTransaksi.html"><i class="fa fa-plus"></i> Add New</a>
<div style="text-align: right;"><button type="button" class="btn grey" onclick="exportExcel('excel')">Excel</button></div>
<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>Id Transaksi</th>
       <th>Produk</th>
       <th>Nama Anggota</th>
       <th>Tanggal Pengajuan</th>
       <th>Nominal</th>
       <th>Tanggal Transfer</th>
       <th>Status Operational</th>
       <th>Status</th>
       <th>Aksi</th>
      </tr>
    </thead>
</table>


<script type="text/javascript">

var dataList = function () {

    var handleTable = function () {

      function restoreRow(oTable, nRow) {
          var aData = oTable.fnGetData(nRow);
          var jqTds = $('>td', nRow);

          for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
              oTable.fnUpdate(aData[i], nRow, i, false);
          }

          oTable.fnDraw();
      }

      function editRow(oTable, nRow) {
          var aData = oTable.fnGetData(nRow);
          var jqTds = $('>td', nRow);

          jqTds[0].innerHTML =  aData[0];
          jqTds[1].innerHTML =  aData[1];
          jqTds[2].innerHTML =  aData[2];
          jqTds[3].innerHTML =  aData[3];
          jqTds[4].innerHTML =  aData[4];
          jqTds[5].innerHTML =  aData[5];
          jqTds[6].innerHTML =  '<input type="date" name="tran_tgl_transfer" class="form-control input-small" value="'+ aData[6] + '">';

          var html="";
            html+='<select class="form-control input-sm" id="tran_status_operational" name="tran_status_operational" onchange="statusOperational(this.value)">';
            if(aData[10]=="1"){
              html+='<option value="1" selected="true">Menunggu transfer</option><option value="2">Ditolak</option><option value="3">Sudah ditransfer</option><option value="4">Ditinjau ulang</option><option value="5">Dibatalkan anggota</option>';
            }else if(aData[10]=="2"){
              html+='<option value="1">Menunggu transfer</option><option value="2" selected="true">Ditolak</option><option value="3">Sudah ditransfer</option><option value="4">Ditinjau ulang</option><option value="5">Dibatalkan anggota</option>';
            }
            else if(aData[10]=="3"){
              html+='<option value="1">Menunggu transfer</option><option value="2">Ditolak</option><option value="3" selected="true">Sudah ditransfer</option><option value="4">Ditinjau ulang</option><option value="5">Dibatalkan anggota</option>';
            }else if(aData[10]=="4"){
              html+='<option value="1">Menunggu transfer</option><option value="2">Ditolak</option><option value="3">Sudah ditransfer</option><option value="4" selected="true">Ditinjau ulang</option><option value="5">Dibatalkan anggota</option>';
            }else if(aData[10]=="5"){
              html+='<option value="1">Menunggu transfer</option><option value="2">Ditolak</option><option value="3">Sudah ditransfer</option><option value="4">Ditinjau ulang</option><option value="5" selected="true">Dibatalkan anggota</option>';
            }
            html+='</select>';
            html += '<br><span id="idKomen" style="display : none;"><input type="text" class="form-control" name="tran_komen" id="tran_komen" placeholder="Komentar"></span>';
          jqTds[7].innerHTML = html;

          jqTds[8].innerHTML =  aData[8];
          jqTds[9].innerHTML =  '<a class="edit" href="">Save</a> <a class="cancel" href="">Cancel</a><input type="hidden" name="tran_id" value="'+aData[9]+'">';
         
      }

      function saveRow(oTable, nRow) {
        var str=$("#dataList").find('input, select, date').serialize();
        // alert(str);
        blockPage();
        $.ajax({
            url : "{{base_url}}transaksi/Transaksi/editTransaksi",
            type : "POST",
            data: str,
            datatype: 'json',

            success:function(data){
              var output = JSON.parse(data);
              $('#dataList').DataTable().ajax.reload();
              ublockPage();
              toastr[output.type](output.msg, "Notification");
            }
        });
      }

      function cancelEditRow(oTable, nRow) {
          var jqInputs = $('input', nRow);
          oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
          oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
          oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
          oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
          oTable.fnUpdate('<a class="edit" href="">Edit</a>', nRow, 4, false);
          oTable.fnDraw();
      }

      var table = $('#dataList');

      var oTable = table.dataTable({
          "ajax": {
            "url": "{{ base_url }}transaksi/Transaksi/getAjaxData.html", 
              "dataSrc": function ( json ) {

                console.log(json);
              
              if(json.data != 'error')
              {
                return json.data;
              }
              else
              {
                toastr['error']('No Data Available in Table', "Notification");

                $('#dataList').DataTable({

                  destroy:true,
                  language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

                  buttons: [
                      { extend: 'print', className: 'btn grey' },
                      { extend: 'pdf', className: 'btn grey' },
                      { extend: 'csv', className: 'btn grey' }
                  ],
                  responsive: false,
                  colReorder: {
                      reorderCallback: function () {
                          console.log( 'callback' );
                      }
                  },
                  "lengthMenu": [
                      [5, 10, 50, 100, 250, -1],
                      [5, 10, 50, 100, 250, "All"]
                  ],

                  dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                  "pageLength": 10,
                });
                
              }

            }
          },
          columnDefs: [ {
            "targets": -1,
            "data": null,
            "defaultContent": "<edit class='edit fa fa-pencil'></edit> <delete class='fa fa-trash'></delete>",
            "width": "90px",
          },
          {
              "targets": 1,
              "width": "150px",
          }],
          // aaSorting: [[1, 'desc']],
          buttons: [
              // { extend: 'print', className: 'btn grey' },
              // { extend: 'pdf', className: 'btn grey' },
              // { extend: 'csv', className: 'btn grey' }
          ],
          responsive: false,
          colReorder: {
              reorderCallback: function () {
                  console.log( 'callback' );
              }
          },
          "lengthMenu": [
              [5, 10, 50, 100, 250, -1],
              [5, 10, 50, 100, 250, "All"]
          ],

          dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
          "pageLength": 10,
      });

      var education = $("#dataList");

      var nEditing = null;
      var nNew = false;

      // table.on('click', '.delete', function (e) {
      //     e.preventDefault();

      //     if (confirm("Are you sure to delete this row ?") == false) {
      //         return;
      //     }

      //     var nRow = $(this).parents('tr')[0];
      //     oTable.fnDeleteRow(nRow);
      //     alert("Deleted! Do not forget to do some ajax to sync with backend :)");
      // });

      $('#dataList tbody').on('click', 'delete', function () {
          var data = table.api().row($(this).parents('tr')).data();
          var tran_id = data[9];
          bootbox.confirm("Are you sure?",function(result){
            if(result){
                blockPage();
                $.ajax({
                    url : "{{base_url}}transaksi/Transaksi/delTransaksi/",
                    type : "POST",
                    data: 'tran_id='+tran_id,
                    datatype: 'json',

                    success:function(data){
                        var output = JSON.parse(data);
                        $('#dataList').DataTable().ajax.reload();
                        ublockPage();
                        toastr[output.type](output.msg, "Notification");
                                        

              // window.location="{{base_url}}employee/masteremployee/addemployee/"+output.id_emp+".html";

                    }
                });
            }
          });
      });

      table.on('click', '.cancel', function (e) {
          e.preventDefault();
          if (nNew) {
              oTable.fnDeleteRow(nEditing);
              nEditing = null;
              nNew = false;
          } else {
              restoreRow(oTable, nEditing);
              nEditing = null;
          }
      });

      table.on('click', '.edit', function (e) {
          e.preventDefault();
          nNew = false;
          
          /* Get the row as a parent of the link that was clicked on */
          var nRow = $(this).parents('tr')[0];

          if (nEditing !== null && nEditing != nRow) {
              /* Currently editing - but not this row - restore the old before continuing to edit mode */
              restoreRow(oTable, nEditing);
              editRow(oTable, nRow);
              nEditing = nRow;
          } else if (nEditing == nRow && this.innerHTML == "Save") {
              /* Editing this row and want to save it */
              saveRow(oTable, nEditing);
              nEditing = null;
              // alert("Updated! Do not forget to do some ajax to sync with backend :)");
          } else {
              /* No edit in progress - let's start one */
              editRow(oTable, nRow);
              nEditing = nRow;
          }
      });
    }

    return {

        //main function to initiate the module
        init: function () {
            handleTable();
        }

    };

}();

jQuery(document).ready(function() {
    dataList.init();

            
});

function statusOperational(tran_status_operational){
  // alert(tran_status_operational);
  if(tran_status_operational == "2" || tran_status_operational == "4"){
    $("#idKomen").show('slow');
  }else{
    $("#idKomen").hide('slow');
  }
}


function exportExcel(type){
  $.fancybox.open({
      href : "{{base_url}}transaksi/Transaksi/showExportExcel/"+type,
      type : 'iframe',
      helpers : {
          media: true 
      },
      width: "80%",
      height: 800,
      autoSize: false,
      scrolling: false
  });

}
</script>


{% endblock %}