{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Pengaturan</a>
    <a href="#" class="active">Set Password</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}main/Setpassword/editPassword.html" method="post">
  <div class="form-body">
    <div class="row">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <div class="col-md-2">
                         <label class="compactLabel">Email</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="usr_email" name="usr_email" class="form-control" placeholder="Email" required="true" value="{{usr_email}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                         <label class="compactLabel">Password Baru</label>
                    </div>
                    <div class="col-md-4">
                        <input type="password" id="usr_password" name="usr_password" class="form-control" placeholder="Password Baru" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="compactLabel">Konfirmasi Password</label>
                    </div>
                    <div class="col-md-4">
                        <input type="password" id="usr_confirm" name="usr_confirm" class="form-control" placeholder="Konfirmasi Password" required="true">
                        <input type="hidden" name="usr_id" value="{{id_user}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label class="compactLabel">Password Lama</label>
                    </div>
                    <div class="col-md-4">
                        <input type="password" id="usr_pass" name="usr_pass" class="form-control" placeholder="Password Lama" required="true">
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
            </div>
        </div>
    </div>
  
</form>

{% endblock %}