{% extends "header.html" %}
{% block content %}
<div class="breadcrumbCustom flat">
    <a href="#">Log Aktivitas</a>
    <a href="#" class="active">List Aktivitas</a>
</div>
<hr>

<table class="table table-striped table-bordered table-hover" id="dataList">
    <thead>
      <tr>
       <th>No</th>
       <th>User</th>
       <th>Tanggal</th>
       <th>Aktivitas</th>
       <th>Modul</th>
       <th>Data</th>
      </tr>
    </thead>
</table>


<script type="text/javascript">
$(document).ready(function() {
  var table = $('#dataList').dataTable({
      // ajax: "{{ base_url }}produk/SetProduk/getAjaxData.html",  
      "ajax": {
        "url": "{{ base_url }}log/Log/getAjaxData.html",
          "dataSrc": function ( json ) {

            console.log(json);
          
          if(json.data != 'error')
          {
            return json.data;
          }else {
            toastr['error']('No Data Available in Table', "Notification");

            $('#dataList').DataTable({

              destroy:true,
              language: { search: "",searchPlaceholder: "Search records","lengthMenu":"_MENU_"},

              buttons: [
                  // { extend: 'print', className: 'btn grey' },
                  // { extend: 'pdf', className: 'btn grey' },
                  // { extend: 'csv', className: 'btn grey' }
              ],
              responsive: false,
              colReorder: {
                  reorderCallback: function () {
                      console.log( 'callback' );
                  }
              },
              "lengthMenu": [
                  [5, 10, 100, 250, -1],
                  [5, 10, 100, 250, "All"]  
              ],

              dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
              "pageLength": 10,
            });
            
          }

        }
      },

      columnDefs: [ {
          // "targets": -1,
          // "data": null,
          // "defaultContent": "<edit class='fa fa-pencil'></edit> <delete class='fa fa-trash'></delete>",
          // "width": "120px",
      }],

      buttons: [
          // { extend: 'print', className: 'btn grey' },
          // { extend: 'pdf', className: 'btn grey' },
          // { extend: 'csv', className: 'btn grey' }
      ],
      responsive: false,
      colReorder: {
          reorderCallback: function () {
              console.log( 'callback' );
          }
      },
      "lengthMenu": [
          [5, 10, 50, 100, -1],
          [5, 10, 50, 100, "All"]
      ],

      dom:"<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
      "pageLength": 10,
  });



  /* berikut handle edit data data onclick */
  // $('#dataList tbody').on('click', 'edit', function () {
  //     var data = table.api().row($(this).parents('tr')).data();
  //     window.location="{{base_url}}produk/SetProduk/addKategori/"+data[7]+".html";
  // });
  
  //  berikut handle delete data data onclick 
  // $('#dataList tbody').on('click', 'delete', function () {
    
  //     var data = table.api().row($(this).parents('tr')).data();
  //     confirmThis("{{base_url}}produk/SetProduk/delKatProduk/"+data[7]+".html");
  // });

});
</script>


{% endblock %}