{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Utility</a>
    <a href="#" class="active">Form Menu</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}utility/menu/addmenu.html" method="post">
  <div class="form-body">
    <div class="row">

    <div class="col-md-9">
        <input type="hidden" name="id_menu" id="id_menu" value="{{edit.mnu_id}}">
      <div class="form-group">
        <div class="col-sm-4">
        <label class="compactLabel2">Parent Menu:
            <select class="form-control input-sm selectpicker" placeholder="Parent Menu" name="parent_menu" data-live-search="true">
            <option value="0">Root</option>
            {% for row in parent_menu %}

              {% if edit.mnu_id == row.mnu_parent %}
                <option value="{{row.mnu_id}}" selected=""> {{row.mnu_name}} </option>
              {% else %}
                <option value="{{row.mnu_id}}" > {{row.mnu_name}} </option>
              {% endif %}

            {% endfor %}
            </select>
        </label>
        </div>   
      </div>
        <!-- <div class="form-group">
            <div class="col-md-3">
                <input type="text" id="parent_menu" name="parent_menu" value="{{edit.parent_menu}}" class="form-control" placeholder="Parent Menu" required>
            </div>
        </div> -->
        <div class="form-group">
            <div class="col-md-3">
                <label class="compactLabel2"> Menu Name:
                    <input type="text" id="nama_menu" name="nama_menu" value="{{edit.mnu_name}}" class="form-control" placeholder="Nama Menu" required>
                </label>
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-3">
                <label class="compactLabel2">Url Menu:
                    <input type="text" id="url_menu" name="url_menu" value="{{edit.mnu_url}}" class="form-control" placeholder="URL Menu" required>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="compactLabel2">Icon Menu:
                    <input type="text" id="icon_menu" name="icon_menu" value="{{edit.mnu_icon}}" class="form-control" placeholder="Icon Menu" required>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="compactLabel2">Sequence:
                    <input type="text" id="urutan" name="urutan" value="{{edit.mnu_urut}}" class="form-control" placeholder="Urutan" required>
                </label>
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-3">
                <label class="compactLabel2">Status
                    <input type="text" id="status_aktif" name="status_aktif" value="{{edit.mnu_status}}" class="form-control" placeholder="Status Aktif" required>
                </label>
            </div>
        </div>        
         
 
         <div class="form-group" style="margin-top:20px;">
            <div class="col-md-7">
                <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:history.back()" class="btn red"><i class="fa fa-hand-o-left"></i> Cancel</a>
            </div>             
        </div>


    </div>

  </div>
  
</form>

{% endblock %}