{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px; 
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Utility</a>
    <a href="#">Set User</a>
    <a href="#" class="active">Form Set User</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}utility/Setuser/adduser.html" method="post">
  <div class="form-body">
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Name</label></div>
        <div class="col-sm-3"><input type="text" name="name" id="name" class="form-control" placeholder="Name" required="true" value="{{edit.name}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Username</label></div>
        <div class="col-sm-3"><input type="text" name="username" id="username" class="form-control" placeholder="Username" required="true" value="{{edit.username}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Password</label></div>
        <div class="col-sm-4"><input type="Password" name="password" id="password" class="form-control" placeholder="Password" value=""></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">User Type</label></div>
        <div class="col-sm-4">
            <select class="form-control" name="ust_id" id="ust_id">
                {% for row in Usertype %}
                    {%if edit.ust_id==row.ust_id%}
                        <option value="{{row.ust_id}}" selected="true">{{row.ust_user_type}}</option>
                    {%else%}
                        <option value="{{row.ust_id}}">{{row.ust_user_type}}</option>
                    {%endif%}
                {%endfor%}
            </select>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">User Status</label></div>
        <div class="col-sm-3">
            <select class="form-control" name="status" id="status">
                <option value="1" {%if edit.status==1 %} selected="true" {%endif%}>Active</option>
                <option value="0" {%if edit.status==0 %} selected="true" {%endif%}>Non Active</option>
            </select>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">As HCD</label></div>
        <div class="col-sm-3">
            <select class="form-control" name="as_hcd" id="as_hcd">
                <option value="1" {%if edit.as_hcd==1 %} selected="true" {%endif%}>Yes</option>
                <option value="0" {%if edit.as_hcd==0 %} selected="true" {%endif%}>No</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="hidden" name="usr_id" id="usr_id" value="{{usr_id2}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn red"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>
  </div>
  
</form>

{% endblock %}