{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Produk</a>
    <a href="#" class="active">Tambah Kategori Bunga</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}utility/Bunga/addBunga.html" method="post">
  <div class="form-body">
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Jumlah Hari/Bulan</label></div>
        <div class="col-sm-4">
            
            <select id="bun_kategori" name="bun_kategori" class="form-control">
                <option value="1" {% if edit.bun_kategori == "1"%} selected="true" {%endif%}>Hari</option>
                <option value="0" {% if edit.bun_kategori == "0"%} selected="true" {%endif%}>Bulan</option>
            </select>
            <br>
            <input type="number" name="bun_jumlah" id="bun_jumlah" class="form-control" placeholder="Jumlah" value="{{edit.bun_jumlah}}" required="">
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Bunga (%)</label></div>
        <div class="col-sm-4"><input type="number" name="bun_persen" id="bun_persen" class="form-control" placeholder="(%)" value="{{edit.bun_persen}}" required=""></div>
    </div> -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="hidden" name="bun_id" id="bun_id" value="{{edit.bun_id}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>
  </div>
  
</form>

{% endblock %}