{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Produk</a>
    <a href="#" class="active">Tambah Sub Instansi</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}utility/SubInstansi/addSubInstansi.html" method="post">
  <div class="form-body">
  <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Kategori Instansi</label></div>
        <div class="col-sm-4">
            <label class="compactLabel2">
                <select class="form-control input-sm selectpicker" placeholder="Kategori Instansi Menu" name="ins_id" id="ins_id" data-live-search="true">
                {% for row in kat_instansi %}

                  {% if edit.ins_id == row.ins_id %}
                    <option value="{{row.ins_id}}" selected=""> {{row.ins_nama}} </option>
                  {% else %}
                    <option value="{{row.ins_id}}" > {{row.ins_nama}} </option>
                  {% endif %}

                {% endfor %}
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Kode Instansi</label></div>
        <div class="col-sm-4"><input type="text" name="sin_kode" id="sin_kode" class="form-control" placeholder="Kode Instansi" value="{{edit.sin_kode}}" required=""></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Nama Instansi</label></div>
        <div class="col-sm-4"><input type="text" name="sin_nama" id="sin_nama" class="form-control" placeholder="Nama Instansi" value="{{edit.sin_nama}}" required=""></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Alamat</label></div>
        <div class="col-sm-4">
        <textarea name="sin_alamat" id="sin_alamat" class="form-control">{{edit.sin_alamat}}</textarea></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="hidden" name="sin_id" id="sin_id" value="{{edit.sin_id}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>
  </div>
  
</form>

{% endblock %}