{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Pengaturan</a>
    <a href="#" class="active">Tambah Bank</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}utility/Bank/addBank.html" method="post">
  <div class="form-body">
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Nama Bank</label></div>
        <div class="col-sm-4"><input type="text" name="bank_nama" id="bank_nama" class="form-control" placeholder="Bank" value="{{edit.bank_nama}}" required=""></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Deskripsi</label></div>
        <div class="col-sm-4">
        <textarea class="form-control" name="bank_desk" id="bank_desk" placeholder="Deskripsi">{{edit.bank_desk}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="hidden" name="bank_id" id="bank_id" value="{{edit.bank_id}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>
  </div>
  
</form>

{% endblock %}