{% extends "header.html" %}
{% block content %}

<style type="text/css">
.portlet>.portlet-title>.caption {
    font-size: 14px !important;
    font-weight: bold;
}

.compactLabel {
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}

.portlet>.portlet-title>.tools {
    padding: 12px 0 1px !important;
}

.dataTables_wrapper .dt-buttons .btn {
    padding: 5px 9px 5px 9px !important; 
    color: #f3f3f3 !important;
    border-radius: 0 !important; 
    border: solid 0 !important;

}

.table .form-control {
    font-size: 12px !important;
    height: 30px !important;
    border: 1px #fbfcfd !important;
    background-color: #fbfcfd !important;
    display: inline-flex !important;
}

</style>

<div class="breadcrumbCustom flat">
    <a href="#">Utility</a>
    <a href="#">Notification</a>
    <a href="#" class="active">List Notifcation</a>
</div>
<hr>

<div class="portlet box grey-mint">

  <div class="portlet-title">
      <div class="caption"  >Form Notification</div>
  </div>

    <div class="portlet-body form">
        <form class="form-horizontal" role="form" action="{{base_url}}utility/notification/addnotification.html" method="post">
            <div class="form-body">
                <div class="row">

                    <div class="col-md-8">
                     
                        <input type="hidden" name="not_id" id="not_id" value="{{edit.not_id}}">
						 <div class="form-group">
                            <div class="col-md-3">
                                 <label class="compactLabel">Module Name</label>
                            </div>
                            <div class="col-md-3">
								<input type="hidden" id="id_menu" name="id_menu" value="{{edit.id_menu}}" class="form-control" placeholder="ID Module" required>
                                <input type="text" id="nama_menu" name="nama_menu" value="{{edit.nama_menu}}" class="form-control" placeholder="Module Name" required>
								<span class="input-group-btn">
									<button class="btn grey-mint btn-sm" type="button"  onclick="getMenu()"><i class="fa fa-book"></i></button>
								</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                 <label class="compactLabel">Sub Module Name</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="not_submodule" name="not_submodule" value="{{edit.not_submodule}}" class="form-control" placeholder="Sub Module Name" required>
                            </div>
                        </div>
						<div class="form-group">
                            <div class="col-md-3">
                                 <label class="compactLabel">Starting Time</label>
                            </div>
                            <div class="col-md-3">
                                <input type="date" id="not_startingtime" name="not_startingtime" value="{{edit.not_startingtime}}" class="form-control" placeholder="Starting Time" required>
                            </div>
                        </div>
						<div class="form-group">
                            <div class="col-md-3">
                                 <label class="compactLabel">Iterance</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="not_iterance" name="not_iterance" value="{{edit.not_iterance}}" class="form-control" placeholder="Iterance" required>
                            </div>
							<div class="col-md-3">
                                 <label class="compactLabel">week(s)</label>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:20px;">
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-sm red-mint"><i class="fa fa-save"></i> Save</button>
                                <a href="javascript:history.back()" class="btn btn-sm red"><i class="fa fa-hand-o-left"></i> Cancel</a>
                            </div>             
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
function getMenu(){
	$.fancybox.open({
		href : "{{base_url}}utility/showMenu/index.html/",
		type : 'iframe',
		helpers : {
			media: true 
		},
		width: "30%",
		height: "50%",
		autoSize: false,
		scrolling: false
	});
}
</script>
{% endblock %}