{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Produk</a>
    <a href="#" class="active">Tambah User Admin</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}utility/UserAdmin/addUserAdmin.html" method="post">
  <div class="form-body">
  <!-- <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">User Type</label></div>
        <div class="col-sm-4">
            <label class="compactLabel2">
                <select class="form-control input-sm selectpicker" placeholder="Kategori Instansi Menu" name="ust_id" id="ust_id" data-live-search="true">
                {% for row in userType %}

                  {% if edit.ust_id == row.ust_id %}
                    <option value="{{row.ust_id}}" selected=""> {{row.ust_user_type}} </option>
                  {% else %}
                    <option value="{{row.ust_id}}" > {{row.ust_user_type}} </option>
                  {% endif %}

                {% endfor %}
                </select>
            </label>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Nama Lengkap</label></div>
        <div class="col-sm-4"><input type="text" name="usr_name" id="usr_name" class="form-control" placeholder="Nama Lengkap" value="{{edit.usr_name}}" required=""></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Username</label></div>
        <div class="col-sm-4"><input type="text" name="usr_username" id="sin_nama" class="form-control" placeholder="Username" value="{{edit.usr_username}}" required=""></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Password</label></div>
        <div class="col-sm-4"><input type="Password" name="usr_password" id="usr_password" class="form-control" placeholder="Password" value=""{% if edit.usr_id == "" %} required="" {% endif %}></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Email</label></div>
        <div class="col-sm-4"><input type="text" name="usr_email" id="usr_email" class="form-control" placeholder="Email" value="{{edit.usr_email}}" required=""></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">No. HP</label></div>
        <div class="col-sm-4">
            <input type="text" name="usr_hp" id="usr_hp" class="form-control" placeholder="Hp" value="{{edit.usr_hp}}" required="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Status</label></div>
        <div class="col-sm-4">
            <select name="usr_status" id="usr_status" class="form-control">
                <option value="1">Active</option>
                <option value="0">Non Active</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="hidden" name="usr_id" id="usr_id" value="{{edit.usr_id}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>
  </div>
  
</form>

{% endblock %}