{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Produk</a>
    <a href="#" class="active">Tambah Instansi</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}utility/Instansi/addInstansi.html" method="post">
  <div class="form-body">
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Nama Instansi</label></div>
        <div class="col-sm-4"><input type="text" name="ins_nama" id="ins_nama" class="form-control" placeholder="Nama Instansi" value="{{edit.ins_nama}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Deskripsi</label></div>
        <div class="col-sm-4">
        <textarea name="ins_desk" id="ins_desk" class="form-control">{{edit.ins_desk}}</textarea></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="hidden" name="ins_id" id="ins_id" value="{{edit.ins_id}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>
  </div>
  
</form>

{% endblock %}