{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>

<form id="bankAnggota">
    <div class="form-body">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-5"><label class="compactLabel2">Bank</label></div>
                    <div class="col-sm-7">
                        <!-- <input type="text" name="bnk_nama" id="bnk_nama" class="form-control" value="{{edit.bnk_nama}}" placeholder="Bank"> -->
                        <select name="bnk_nama" id="bnk_nama" class="form-control">
                            {% for row in bank %}
                                {% if row.bank_nama == edit.bnk_nama %}
                                    <option value="{{row.bank_nama}}" selected="true">{{row.bank_nama}}</option>
                                {%else%}
                                    <option value="{{row.bank_nama}}">{{row.bank_nama}}</option>
                                {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5"><label class="compactLabel2">Nama Pemilik Rekening</label></div>
                    <div class="col-sm-7">
                        <input type="text" name="bnk_pemilik" id="bnk_pemilik" class="form-control" placeholder="Nama Pemilik Rekening" value="{{edit.bnk_pemilik}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5"><label class="compactLabel2">Nomor Rekening</label></div>
                    <div class="col-sm-7">
                        <input type="text" name="bnk_norek" id="bnk_norek" value="{{edit.bnk_norek}}" placeholder="Nomor Rekening" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5"><label class="compactLabel2">Poto Buku Rekening</label></div>
                    <div class="col-sm-7">
                       <input type="hidden" name="bnk_img" id="bnk_img" class="name_file">
                       <input type="hidden" name="bnk_id" id="bnk_id" class="{{edit.bnk_id}}">
                      <label for="ijazahfile" class="btn btn-sm grey-mint">Upload File...</label>
                      <input type="File" name="ijazahfile" style="visibility: hidden;" class="form-control input-sm ijazahfile" id="ijazahfile" placeholder="Upload Ijazah">
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0px;" id="bnkImg">
                {%if edit.bnk_img ==""%}
                    <img src="{{base_url}}assets/pages/img/ktp.png" border="thin solid" width="140px" height="100px">
                {%else%}
                    <img src="{{base_url}}assets/imgRekening/{{edit.bnk_img}}" border="thin solid" width="140px" height="100px">
                {%endif%}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" style="text-align: right; margin-top: 10px;" >
                <input type="hidden" name="ang_id" id="ang_id" value="{{ang_id}}">
                <input type="hidden" name="bnk_id" id="bnk_id" value="{{edit.bnk_id}}">
                {%if ang_id !=""%}
                <button type="button" class="btn btn-sm red-mint" onclick="saveBank()"><i class="fa fa-save"></i> Save</button>
                {%endif%}
            </div>
      </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
      $(".ijazahfile").change(function(){ // Ketika user memilih gambar (mengklik tombol Chose File / Browse), lakukan: 
        upload('{{base_url}}anggota/Bank/uploadFile', '.ijazahfile'); // Panggil fungsi upload yg ada di file process.js
      });
    });
    function upload(url, field){
      var data = new FormData();
      // ambil atribut file yg akan diupload, lalu masukkan ke variabel inputfile
      data.append('inputfile', $(field)[0].files[0]); 
      // alert(inputfile);

        blockPage();
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data){
              var output = JSON.parse(data);
              ublockPage();
              toastr[output.type](output.msg, "Notification");
              $(".name_file").val(output.name);
            },
            error: function (xhr, ajaxOptions, thrownError) {
              alert(xhr.responseText);
            }
        });
    }
    function saveBank(){
        var str = $("#bankAnggota" ).serialize();
        var bnkImg = $('#bnk_img').val();
        // alert(str);
        blockPage();
        $.ajax({
            url : "{{base_url}}anggota/Bank/saveByAjax.html",
            type : "POST",
            data : str,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                html = "<img src='{{base_url}}assets/imgRekening/"+bnkImg+"' border='thin solid' width='140px' height='100px'>";
                $("#bnkImg").html(html);
                ublockPage();

                
                toastr[output.type](output.msg, "Notification");
            }
        });
      
    }
</script>
{% endblock %}