{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Utility</a>
    <a href="#" class="active">List Menu</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}utility/Usertype/addUserType.html" method="post">
  <div class="form-body">
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">User Type</label></div>
        <div class="col-sm-3"><input type="text" name="ust_usertype" id="ust_usertype" class="form-control" placeholder="User Type" required="true" value="{{edit.ust_usertype}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">User Description</label></div>
        <div class="col-sm-4"><input type="text" name="ust_desc" id="ust_desc" class="form-control" placeholder="User Description" value="{{edit.ust_desc}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="hidden" name="ust_id" id="ust_id" value="{{ust_id}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn red"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>
  </div>
  
</form>

{% endblock %}