<div class="row margin20">
</div>
    <form class="form-horizontal" role="form" action="{{base_url}}anggota/AnggotaBiodata/addAnggota.html" method="post" enctype="multipart/form-data">  
        <div class="form-body" id="formBiodata">
            <div class="row">
                <div class="col-md-2 cleanSpace" style="border:solid 1px #ccc; border-radius:5px !important; padding:5px !important;">
                    <div class="form-group" style="text-align: center; ">
                        <div class="empImg">
                            <img id="imgEmp">
                            {% if edit.ang_profil==""%}
                                <img src="{{base_url}}assets/global/img/4.jpg" style="width:95%;">
                            {%else%}
                                <img src="{{base_url}}assets/imgAnggota/{{edit.ang_profil}}" style="width:95%; height: 150px">
                            {%endif%}
                        </div>
                        {% if edit.ang_id =="" %}
                            <input type="hidden" name="ang_img_anggota" id="ang_img_anggota" value="{{img_anggota}}">
                        {% else %}
                            <input type="hidden" name="ang_img_anggota" id="ang_img_anggota" value="{{img_anggota}}">
                        {%endif%}
                        <div class="iconImg" id="iconImg">
                            <a href="javascript:;" onclick="uploadEmpImg()" title="Upload Image"><i class="fa fa-cloud-upload"></i></a>
                            {% if edit.ang_profil != ""%}
                            <a href="javascript:;" onclick="deleteImg({{edit.ang_id}})" title="Upload Image"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </div>        
                    </div>
                    <label class="compactLabel2">Nama:
                        <div class="form-group">
                            <input type="text" name="ang_nama" id="ang_nama" value="{{edit.ang_nama}}" class="form-control">
                        </div>
                    </label>
                    
                    <label class="compactLabel2">Produk:
                        <div class="form-group">
                            <input type="text" name="kat_kode" id="kat_kode" value="{{edit.kat_kode}}" class="form-control" disabled="true">
                        </div>
                    </label>
                    <label class="compactLabel2">Status:
                        <div class="form-group">
                           <select name="ang_status" id="ang_status" class="form-control" {% if (usr_id == edit.usr_menyetujui) or (usr_id == '1') %}    {%else%}disabled="true" {% endif%}>
                               <option value="0" {% if edit.ang_status == '0' %} selected="true" {% endif %}>Terminasi</option>
                               <option value="1"  {% if edit.ang_status == '1' %} selected="true" {% endif %}>Terverifikasi</option>
                               <option value="2"  {% if edit.ang_status == '2' %} selected="true" {% endif %}>Menunggu Persetujuan</option>
                               <option value="3"  {% if edit.ang_status == '3' %} selected="true" {% endif %}>Ditolak</option>
                               <option value="4"  {% if edit.ang_status == '4' %} selected="true" {% endif %}>Suspen</option>
                           </select>
                        </div>
                    </label>
                </div>
                <div class="col-md-10 cleanSpace"  style="border:solid 1px #ccc; border-radius:5px !important; padding:5px !important; margin-left:10px !important;">
                    <div class="row">
                        <div class="portlet grey box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i><label class="">Biodata</label> </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body" id="blockui_sample_4_portlet_body" style="display: block;">
                                <p>
                                    <div class="row borderBawah">
                                        <div class="col-md-3">
                                            <label class="compactLabel">Tempat/Tgl Lahir:
                                                <input type="text" name="ang_ttl" id="ang_ttl" value="{{edit.ang_ttl}}" class="form-control" placeholder="Tempat/Tgl Lahir">
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="compactLabel">Alamat:
                                                <input type="text" name="ang_alamat" id="ang_alamat" value="{{edit.ang_alamat}}" class="form-control" placeholder="Alamat">
                                            </label>
                                        </div>

                                        <!-- <div class="col-md-3">
                                            <label class="compactLabel">Pekerjaan:
                                                <input type="text" name="ang_pekerjaan" id="ang_pekerjaan" value="{{edit.ang_pekerjaan}}" class="form-control" placeholder="Pekerjaan" >
                                            </label>
                                        </div> -->
                                        <div class="col-md-3">
                                            <label class="compactLabel">KTP:
                                                <input type="text" name="ang_ktp" id="ang_ktp" value="{{edit.ang_ktp}}" class="form-control" placeholder="KTP">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row borderBawah">
                                        <div class="col-md-3">
                                            <label class="compactLabel">KK:
                                                <input type="text" name="ang_kk" id="ang_kk" value="{{edit.ang_kk}}" class="form-control" placeholder="KK">
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="compactLabel">NPWP:
                                                <input type="text" name="ang_npwp" id="ang_npwp" value="{{edit.ang_npwp}}" class="form-control" placeholder="NPWP">
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="compactLabel">Hp/Tlp:
                                                <input type="text" name="ang_hp" id="ang_hp" value="{{edit.ang_hp}}" class="form-control" placeholder="Hp/Tlp">
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="compactLabel">Email:
                                                <input type="text" name="ang_email" id="ang_email" value="{{edit.ang_email}}" class="form-control" placeholder="Email">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row borderBawah">
                                        <div class="col-md-3">
                                            <label class="compactLabel">Limit Pinjaman:
                                                <input type="text" name="ang_limit" id="ang_limit" value="{{edit.ang_limit}}" class="form-control" placeholder="Limit Pinjaman">
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="compactLabel">Dana Tersedia:
                                                <input type="text" name="ang_dana" id="ang_dana" value="{{edit.ang_dana}}" class="form-control" placeholder="Dana Tersedia">
                                            </label>
                                        </div>
                                    </div>
                                    <hr class="hrLine">
                                        <div class="row borderBawah">
                                            <div class="col-md-5">
                                                <label class="compactLabel">Upload KTP:
                                                    <input type="file" name="ang_foto_ktp" id="ang_foto_ktp" value="{{edit.ang_foto_ktp}}" class="form-control" >
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="compactLabel">Poto KTP:
                                                    {%if edit.ang_foto_ktp ==""%}
                                                        <img src="{{base_url}}assets/pages/img/ktp.png" border="thin solid" width="90px" height="60px">
                                                    {%else%}
                                                        <img src="{{base_url}}assets/imgKTP/{{edit.ang_foto_ktp}}" border="thin solid" width="90px" height="60px">
                                                    {%endif%}
                                                </label>
                                            </div>
                                        </div>
                                    <hr class="hrLine">
                                    <div class="row">
                                        <div class="col-md-3" style="margin-top: 7px ">
                                            <label class="compactLabel">Create By:
                                                <input type="text" name="app_name1" id="app_name1" class="form-control" placeholder=" Name" disabled="true" value="{{edit.ang_crby}}">
                                            </label>
                                        </div>
                                        <div class="col-md-3" style="margin-top: 7px ">
                                            <label class="compactLabel">Create Date:
                                                <input type="text" class="form-control" name="ang_crdt" id="ang_crdt" value="{{edit.ang_crdt}}">
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="compactLabel">Menyetujui:
                                                <div class="input-group">
                                                    <input type="hidden" name="usr_menyetujui" id="usr_menyetujui" value="{{edit.usr_menyetujui}}">
                                                    <input type="text" name="appname" id="appname" value="{{edit.usr_name}}" class="form-control" placeholder="Menyetujui" readonly="">
                                                    <span class="input-group-btn">
                                                        <button class="btn grey-mint btn-sm" type="button"  onclick="getuser('app')"><i class="fa fa-book"></i></button>
                                                    </span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align: right;">
                            <input type="hidden" name="ang_id" id="ang_id" value="{{edit.ang_id}}">
                            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
                            <!-- <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>             
    </form>
<div class="modal fade" id="uploadImg">
  <div class="modal-dialog">
    <form action="{{base_url}}anggota/AnggotaBiodata/saveImg" method="post" enctype="multipart/form-data">
        <div class="modal-content" style="margin-top:100px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" style="text-align:center;">Upload Image</h4>
            <input type="hidden" id="ang_id" class="id_user" name="ang_id" value="{{edit.ang_id}}">
            <label class="compactLabel2">Employee Image:
                <input type="file" name="img_anggota" id="img_anggota" class="form-control">
            </label>
          </div>
                    
          <div class="modal-footer" style="margin:0px; border-top:0px; text-align:center;">
            <button type="button" class="btn grey btn-sm" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn red-mint btn-sm" value="Oke">
          </div>
        </div>
    </form>
  </div>
</div>
<script type="text/javascript">

    function showImg(){
        $("#iconImg").show();
    }

    function hideImg(){
        $("#iconImg").hide();
    }

    function uploadEmpImg(){
        var id_emp= $("#id_emp").val();

        if(id_emp == ""){
            $("#notif").modal('show',{backdrop:'static'});
        }else{
            $("#uploadImg").modal('show',{backdrop:'static'});
        }
    }

    function getuser(type){
    $.fancybox.open({
        href : "{{base_url}}anggota/ShowUser/index/"+type,
        type : 'iframe',
        helpers : {
            media: true 
        },
        width: "80%",
        height: 800,
        autoSize: false,
        scrolling: false
   });

}


</script>
