{% extends "headerblank.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<form id="formKaryawan">
    <div class="form-body">
        <div class="row">
            <div class="col-sm-2"><label class="compactLabel2">Kategori </label></div>
            <div class="col-sm-4">
                <select class="form-control" name="kar_kat_id" id="kar_kat_id" onchange="getkatkar(this.value)">
                        <option value="">==Pilih Kategori Karyawan==</option>
                    {% for row in kategoriKaryawan %}
                        {% if edit.kar_kat_id==row.kar_kat_id%}
                            <option value="{{row.kar_kat_id}}" selected="">{{row.kar_kategori}}</option>
                        {% else %}
                            <option value="{{row.kar_kat_id}}">{{row.kar_kategori}}</option>
                        {%endif%}
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label class="compactLabel2">Informasi Perusahaan</label></div>
            <div class="col-sm-4">
                <select class="form-control" placeholder="Kategori Instansi" name="ins_id" id="ins_id" data-live-search="true" onchange="getInstansi(this.value)">
                <option value="0">==Pilih Instansi==</option>
                    {% for row in instansi %}

                      {% if edit.ins_id == row.ins_id %}
                        <option value="{{row.ins_id}}" selected=""> {{row.ins_nama}} </option>
                      {% else %}
                        <option value="{{row.ins_id}}"> {{row.ins_nama}} </option>
                      {% endif %}

                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label class="compactLabel2">Sub Instansi</label></div>
            <div class="col-sm-4">
                <select class="form-control" data-live-search="true" name="sin_id" id="sin_id" required="true" onchange="getKategori(this.value)">
                        <option value="">Select Item</option>
                        <option value="{{edit.sin_id}}" selected="true">[{{edit.sin_kode}}] {{edit.sin_nama}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label class="compactLabel2">Produk</label></div>
            <div class="col-sm-4">
                <select class="form-control" data-live-search="true" name="kat_id" id="kat_id" required="true">
                        <option value="">Select Item</option>
                        <option value="{{edit.kat_id}}" selected="true">[{{edit.kat_kode}}] {{edit.kat_nama}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label class="compactLabel2">Nomor Induk Karyawan</label></div>
            <div class="col-sm-4">
                <input type="text" name="kar_induk" id="kar_induk" placeholder="Nomor Induk Karyawan" class="form-control" value="{{edit.kar_induk}}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label class="compactLabel2">Pekerjaan</label></div>
            <div class="col-sm-4">
                <input type="text" name="kar_pekerjaan" id="kar_pekerjaan" placeholder="Pekerjaan" class="form-control" value="{{edit.kar_pekerjaan}}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label class="compactLabel2">Tanggal Mulai Kerja</label></div>
            <div class="col-sm-4">
                <input type="date" name="kar_mulai_kerja" id="kar_mulai_kerja" placeholder="Tanggal Mulai Kerja" class="form-control" value="{{edit.kar_mulai_kerja}}">
            </div>
        </div>
        <div class="row">
            {% if edit.kat_id > 2 %}
            <div class="col-sm-2 kategorKaryawan"><label class="compactLabel2">Pendapatan</label></div>
            {%else%}
            <div class="col-sm-2 kategorKaryawan"><label class="compactLabel2">Gaji</label></div>
            {%endif%}
            <div class="col-sm-4">
                <input type="text" name="kar_gaji" id="kar_gaji" class="form-control" value="{{edit.kar_gaji}}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label class="compactLabel2">Status</label></div>
            <div class="col-sm-4">
                <input type="text" name="kar_status" id="kar_status" placeholder="Status Karyawan" class="form-control" value="{{edit.kar_status}}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="text-align: right; margin-top: 10px;" >
                <input type="hidden" name="ang_id" id="ang_id" value="{{ang_id}}">
                <input type="hidden" name="kar_id" id="kar_id" value="{{edit.kar_id}}">
              <button type="button" class="btn btn-sm red-mint" onclick="saveKaryawan()"><i class="fa fa-save"></i> Save</button>
            </div>
      </div>
    </div>
</form>
<script type="text/javascript">
    function getkatkar(kat_kar){
        if(kat_kar > 2){
            html = "<label class='compactLabel2'>Pendapatan</label'";
            $(".kategorKaryawan").html(html);
        }else{
            html = "<label class='compactLabel2'>Gaji</label'";
            $(".kategorKaryawan").html(html);
        }
    }

    function getInstansi(ins_id){
        // alert(ins_id);
        blockPage();
        $.ajax({
            url : "{{base_url}}produk/SetProduk/getInstansi.html",
            type : "POST",
            data : 'ins_id='+ins_id,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                console.log(output);
                // alert(output.row.length);
                var n = output.row.length;
                html = "";
                html += "<option value=''>Select Item</option>";
                for(var i=0; i < n; i++){ 

                    html += '<option value="'+ output.row[i].sin_id +'"> ['+output.row[i].sin_kode+'] '+output.row[i].sin_nama+'</option><br/>';
                }

                if(n == 0)
                {
                    html +='<option value="">NULL</option>';
                }

                    // $('#sin_id').selectpicker('destroy');
                    $("#sin_id").html(html);
                    // $("#sin_id").selectpicker();
                ublockPage();
                // toastr[output.type](output.row, "Notification");
            }
        });
    }

    function getKategori(sin_id){
        // alert(ins_id);
        blockPage();
        $.ajax({
            url : "{{base_url}}produk/SetProduk/getKategori.html",
            type : "POST",
            data : 'sin_id='+sin_id,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                console.log(output);
                // alert(output.row.length);
                var n = output.row.length;
                html = "";
                html += "<option value=''>Select Item</option>";
                for(var i=0; i < n; i++){ 

                    html += '<option value="'+ output.row[i].kat_id +'"> ['+output.row[i].kat_kode+'] '+output.row[i].kat_nama+'</option><br/>';
                }

                if(n == 0)
                {
                    html +='<option value="">NULL</option>';
                }

                    // $('#kat_id').selectpicker('destroy');
                    $("#kat_id").html(html);
                    // $("#kat_id").selectpicker();
                ublockPage();
                // toastr[output.type](output.row, "Notification");
            }
        });
    }

    function saveKaryawan(){
        var str = $("#formKaryawan" ).serialize();
        // alert(str);
        blockPage();
        $.ajax({
            url : "{{base_url}}anggota/AnggotaKaryawan/saveByAjax.html",
            type : "POST",
            data : str,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                ublockPage();
                toastr[output.type](output.msg, "Notification");
            }
        });
      
    }
</script>
{% endblock %}