{% extends "header.html" %}
{% block content %}
<style type="text/css">
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.row{
    margin-top: 10px;
}
</style>
<div class="breadcrumbCustom flat">
    <a href="#">Produk</a>
    <a href="#" class="active">Tambah Kategori</a>
</div>
<hr>


<form class="form-horizontal" role="form" action="{{base_url}}anggota/Anggota/addAnggota.html" method="post" enctype="multipart/form-data">
  <div class="form-body">
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Nama</label></div>
        <div class="col-sm-4"><input type="text" name="ang_nama" id="ang_nama" class="form-control" placeholder="Nama" value="{{edit.ang_nama}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Tempat/Tgl, Lahir</label></div>
        <div class="col-sm-4"><input type="text" name="ang_ttl" id="ang_ttl" class="form-control" placeholder="Tempat/ Tgl Lahir" value="{{edit.ang_ttl}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Alamat</label></div>
        <div class="col-sm-4"><textarea class="form-control" name="ang_alamat" id="ang_alamat" placeholder="Alamat"></textarea></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">KTP Nomor</label></div>
        <div class="col-sm-4"><input type="text" name="ang_ktp" id="ang_ktp" class="form-control" placeholder="KTP Nomor" value="{{edit.ang_ktp}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">KK Nomor</label></div>
        <div class="col-sm-4"><input type="text" name="ang_kk" id="ang_kk" class="form-control" placeholder="KK Nomor" value="{{edit.ang_kk}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Pekerjaan</label></div>
        <div class="col-sm-4"><input type="text" name="ang_pekerjaan" id="ang_pekerjaan" class="form-control" placeholder="Pekerjaan" value="{{edit.ang_pekerjaan}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Instansi</label></div>
        <div class="col-sm-3">
            <label class="compactLabel2">
                <select class="form-control input-sm selectpicker" placeholder="Kategori Instansi Menu" name="ins_id" id="ins_id" data-live-search="true" onchange="getInstansi(this.value)">
                {% for row in kat_instansi %}

                  {% if edit.ins_id == row.ins_id %}
                    <option value="{{row.ins_id}}" selected=""> {{row.ins_nama}} </option>
                  {% else %}
                    <option value="{{row.ins_id}}" > {{row.ins_nama}} </option>
                  {% endif %}

                {% endfor %}
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Sub Instansi</label></div>
        <div class="col-sm-3">
            <select class="form-control bs-select" data-live-search="true" name="sin_id" id="sin_id" required="true" onchange="getKategori(this.value)">
                    <option value="">Select Item</option>
                    <option value="{{edit.sin_id}}" selected="true">[{{edit.sin_kode}}] {{edit.sin_nama}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Kategori Produk</label></div>
        <div class="col-sm-3">
        <select class="form-control bs-select" data-live-search="true" name="kat_id" id="kat_id" required="true">
                    <option value="">Select Item</option>
                    <option value="{{edit.kat_id}}" selected="true">[{{edit.kat_kode}}] {{edit.kat_nama}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Bank</label></div>
        <div class="col-sm-4"><input type="text" name="ang_bank" id="ang_bank" class="form-control" placeholder="Bank" value="{{edit.ang_bank}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Rek. Nomor</label></div>
        <div class="col-sm-4"><input type="text" name="ang_norek" id="ang_norek" class="form-control" placeholder="Rek. Nomor" value="{{edit.ang_norek}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">NPWP</label></div>
        <div class="col-sm-4"><input type="text" name="ang_npwp" id="ang_npwp" class="form-control" placeholder="NPWP" value="{{edit.ang_npwp}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Hp/tlp</label></div>
        <div class="col-sm-4"><input type="text" name="ang_hp" id="ang_hp" class="form-control" placeholder="Hp/Telp" value="{{edit.ang_hp}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Email</label></div>
        <div class="col-sm-4"><input type="text" name="ang_email" id="ang_email" class="form-control" placeholder="Email" value="{{edit.ang_email}}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Photo</label></div>
        <div class="col-sm-4"><input type="file" name="ang_profil" class="time_file" id="ang_profil"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label class="compactLabel2">Photo KTP</label></div>
        <div class="col-sm-4"><input type="file" name="ang_foto_ktp" class="time_file" id="ang_foto_ktp" class="form-control"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="text" name="ang_id" id="ang_id" value="{{edit.ang_id}}">
            <button type="submit" class="btn red-mint"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back()" class="btn grey"><i class="fa fa-hand-o-left"></i> Cancel</a>
        </div>
    </div>


  </div>
  
</form>

<script type="text/javascript">
    function getInstansi(ins_id){
        // alert(ins_id);
        blockPage();
        $.ajax({
            url : "{{base_url}}produk/SetProduk/getInstansi.html",
            type : "POST",
            data : 'ins_id='+ins_id,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                console.log(output);
                // alert(output.row.length);
                var n = output.row.length;
                html = "";
                html += "<option value=''>Select Item</option>";
                for(var i=0; i < n; i++){ 

                    html += '<option value="'+ output.row[i].sin_id +'"> ['+output.row[i].sin_kode+'] '+output.row[i].sin_nama+'</option><br/>';
                }

                if(n == 0)
                {
                    html +='<option value="">NULL</option>';
                }

                    $('#sin_id').selectpicker('destroy');
                    $("#sin_id").html(html);
                    $("#sin_id").selectpicker();
                ublockPage();
                // toastr[output.type](output.row, "Notification");
            }
        });
    }

    function getKategori(sin_id){
        // alert(ins_id);
        blockPage();
        $.ajax({
            url : "{{base_url}}produk/SetProduk/getKategori.html",
            type : "POST",
            data : 'sin_id='+sin_id,
            datatype: 'json',
            success:function(data){
                var output = JSON.parse(data);
                console.log(output);
                // alert(output.row.length);
                var n = output.row.length;
                html = "";
                html += "<option value=''>Select Item</option>";
                for(var i=0; i < n; i++){ 

                    html += '<option value="'+ output.row[i].kat_id +'"> ['+output.row[i].kat_kode+'] '+output.row[i].kat_nama+'</option><br/>';
                }

                if(n == 0)
                {
                    html +='<option value="">NULL</option>';
                }

                    $('#kat_id').selectpicker('destroy');
                    $("#kat_id").html(html);
                    $("#kat_id").selectpicker();
                ublockPage();
                // toastr[output.type](output.row, "Notification");
            }
        });
    }
</script>
{% endblock %}