{% extends "header.html" %}
{% block content %}

<script src="{{base_url}}assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script>
$( function() {
$( "#tabsEmp" ).tabs({
  beforeLoad: function( event, ui ) {
    ui.jqXHR.fail(function() {
      ui.panel.html(
        "Couldn't load this tab. We'll try to fix this as soon as possible. " +
        "If this wouldn't be a demo." );
    });
  }
});
} ); 


</script>

<div class="breadcrumbCustom flat">
    <a href="#">Anggota</a>
    <a href="#" class="active">Data Anggota</a>
</div>
<hr>

<!--
{{base_url}}employee/masteremployee/formbiodata.html
-->
<style type="text/css">

.ui-tabs-nav{
    padding-left: 0;
}    
#tabsEmp{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#tabsEmp .ui-tabs-panel{
    padding-top: 25px;
    margin-top: -9px;
}
#tabsEmp .liTabs {
    background: none;
    display: inline-block;
    padding: 5px;
    padding-right: 10px;
    cursor: pointer;
    border-top: solid 4px #666;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    margin-right: 0px;
    background-color: #FFFFFF;
    border-radius: 5px 5px 0px 0px !important;
    font-size: 12px;
    padding-left: 10px;
    /* color: #333; */
}

#tabsEmp li a{
    text-decoration: none;
    color: #666;
}

#tabsEmp li.current{
    background: #FFFFFF;
    color: #0C578F  !important;
    font-weight: 600;
    border-top: solid 4px #0C578F ;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}
.margin20{
    margin: 10px;
}
.row{
    margin: 5px !important;
}

.borderBawah{
}
.hrLine{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-top: dotted 1px #A19E9F !important; 
}
.row .col-md-1, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, 
.row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11, .row .col-md-12 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.compactLabel{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: -5px;
    margin-bottom: 0px;
}
.compactLabel2{
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.col-md-10 {
    width: 82.33333% !important;
}
.form-body textarea{
    font-size: 12px !important;
    height: 70px !important;
    border: 1px inset #CCC9C9 !important;
    background-color: #eee !important;
    width: 100%;
}
.dataTable  close{
  padding: 2px 3px 2px 3px;
  border-radius: 4px !important;
  text-align: center;
  color: #D60D0D;
  background-color: #FFFFFF;
  border: solid 1px #ccc;
  cursor: pointer;
}

.dataTable  save,{
  padding: 2px 3px 2px 3px;
  border-radius: 4px !important;
  text-align: center;
  color: #D60D0D;
  background-color: #FFFFFF;
  border: solid 1px #ccc;
  cursor: pointer;
}

.empImg{
  position: relative;
  width: 100%;
}

.iconImg {
  color:#fff; 
  border: thin solid #ccc;
  background: rgba(86, 80, 77, 0.39); 
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: right;
  padding-right: 5px;
  /*display: none;;*/
}

.iconImg a{
  color:#fff;
}
input[type="date"] {
  display: block;
  /*margin-bottom: 3px !important;
  padding: 0px 5px 35px 5px !important; */}

</style>

<div class="row margin20">
  <div class="col-sm-1">
      <label>Search</label>
  </div>
  <div class="col-sm-3">
      <div class="input-group">
          <input type="text" name="angNama" id="angNama" value="{{ang_nama}}" class="form-control" placeholder="Anggota" readonly="true" disabled="true">
          <span class="input-group-btn">
              <button class="btn grey-mint btn-sm" type="button"  onclick="getMstAnggota('anggota')"><i class="fa fa-book"></i></button>
          </span>
      </div>
  </div>
</div>

<div id="tabsEmp">
  <ul>
    
    <li class="liTabs current"><a href="{{base_url}}anggota/AnggotaBiodata/index/{{id}}">Informasi Pribadi</a></li>
    <li class="liTabs "><a href="{{base_url}}anggota/AnggotaKaryawan/index/{{id}}">Karyawan</a></li> 
    <li class="liTabs"><a href="{{base_url}}anggota/Bank/index/{{id}}">Rekening</a></li> 
    <li class="liTabs"><a href="{{base_url}}anggota/AnggotaTransaksi/index/{{id}}">Transaksi </a></li> 
    <!-- <li class="liTabs"><a href="{{base_url}}anggota/AnggotaProduk/formAnggotaProduk/{{id}}">Produk </a></li>  -->
     </ul>
  
</div>

<script type="text/javascript">
$(document).ready(function(){
    
    $('#tabsEmp li').click(function(){
        var tab_id = $(this).attr('data-tab');

        $('#tabsEmp li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#"+tab_id).addClass('current');
    })

});


function getMstAnggota(type) {
   $.fancybox.open({
        href : "{{base_url}}anggota/showAnggota/index/"+type,
        type : 'iframe',
        helpers : {
            media: true 
        },
        width: "80%",
        height: 800,
        autoSize: false,
        scrolling: false
   });                
}


</script>

{% endblock %}